Lambda School Data Science, Unit 2: Predictive Modeling

# Regression & Classification, Module 3

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

Instead, predict property sales prices for **One Family Dwellings** (`BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'`). 

Use a subset of the data where the **sale price was more than \\$100 thousand and less than $2 million.** 

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.

- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Fit a ridge regression model with multiple features.
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.


## Stretch Goals
- [ ] Add your own stretch goal(s) !
- [ ] Instead of `RidgeRegression`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `RidgeRegression`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
import os, sys
in_colab = 'google.colab' in sys.modules

# If you're in Colab...
if in_colab:
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification.git
    !git pull origin master
    
    # Install required python packages
    !pip install -r requirements.txt
    
    # Change into directory for module
    os.chdir('module3')

In [2]:
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [3]:
!pip install pandas_profiling

Requirement already satisfied: pandas_profiling in c:\programdata\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: pandas>=0.19 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (0.24.2)
Requirement already satisfied: phik>=0.9.8 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (0.9.8)
Requirement already satisfied: confuse>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (1.0.0)
Requirement already satisfied: matplotlib>=1.4 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (3.1.0)
Requirement already satisfied: astropy in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (3.2.1)
Requirement already satisfied: htmlmin>=0.1.12 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (0.1.12)
Requirement already satisfied: missingno>=0.4.2 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (0.4.2)
Requirement already satisfied: jinja2>=2.8 in c:\programdata\anaconda3\lib\site-packages (from pandas_profiling) (2.10.1)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.19->pandas_profiling) (2.8.0)
Requirement already satisfied: numpy>=1.12.0 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.19->pandas_profiling) (1.16.4)
Requirement already satisfied: pytz>=2011k in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.19->pandas_profiling) (2019.1)
Requirement already satisfied: pytest-pylint>=0.13.0 in c:\programdata\anaconda3\lib\site-packages (from phik>=0.9.8->pandas_profiling) (0.14.1)
Requirement already satisfied: jupyter-client>=5.2.3 in c:\programdata\anaconda3\lib\site-packages (from phik>=0.9.8->pandas_profiling) (5.3.1)
Requirement already satisfied: scipy>=1.1.0 in c:\programdata\anaconda3\lib\site-packages (from phik>=0.9.8->pandas_profiling) (1.2.1)
Requirement already satisfied: pytest>=4.0.2 in c:\programdata\anaconda3\lib\site-packages (from phik>=0.9.8->pandas_profiling) (5.0.1)
Requirement already satisfied: numba>=0.38.1 in c:\programdata\anaconda3\lib\site-packages (from phik>=0.9.8->pandas_profiling) (0.44.1)
Requirement already satisfied: nbconvert>=5.3.1 in c:\programdata\anaconda3\lib\site-packages (from phik>=0.9.8->pandas_profiling) (5.5.0)
Requirement already satisfied: pyyaml in c:\programdata\anaconda3\lib\site-packages (from confuse>=1.0.0->pandas_profiling) (5.1.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4->pandas_profiling) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4->pandas_profiling) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4->pandas_profiling) (2.4.0)
Requirement already satisfied: seaborn in c:\programdata\anaconda3\lib\site-packages (from missingno>=0.4.2->pandas_profiling) (0.9.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2>=2.8->pandas_profiling) (1.1.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas>=0.19->pandas_profiling) (1.12.0)
Requirement already satisfied: pylint>=1.4.5 in c:\programdata\anaconda3\lib\site-packages (from pytest-pylint>=0.13.0->phik>=0.9.8->pandas_profiling) (2.3.1)
Requirement already satisfied: traitlets in c:\programdata\anaconda3\lib\site-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas_profiling) (4.3.2)
Requirement already satisfied: pyzmq>=13 in c:\programdata\anaconda3\lib\site-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas_profiling) (18.0.0)
Requirement already satisfied: jupyter-core in c:\programdata\anaconda3\lib\site-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas_profiling) (4.5.0)
Requirement already satisfied: tornado>=4.1 in c:\programdata\anaconda3\lib\site-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas_profiling) (6.0.3)
Requirement already satisfied: py>=1.5.0 in c:\programdata\anaconda3\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (1.8.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (19.0)
Requirement already satisfied: attrs>=17.4.0 in c:\programdata\anaconda3\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (19.1.0)
Requirement already satisfied: more-itertools>=4.0.0 in c:\programdata\anaconda3\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (7.0.0)
Requirement already satisfied: atomicwrites>=1.0 in c:\programdata\anaconda3\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (1.3.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in c:\programdata\anaconda3\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (0.12.0)
Requirement already satisfied: importlib-metadata>=0.12 in c:\programdata\anaconda3\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (0.17)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (0.1.7)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (0.4.1)
Requirement already satisfied: llvmlite>=0.29.0 in c:\programdata\anaconda3\lib\site-packages (from numba>=0.38.1->phik>=0.9.8->pandas_profiling) (0.29.0)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (2.4.2)
Requirement already satisfied: defusedxml in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (0.6.0)
Requirement already satisfied: mistune>=0.8.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (1.4.2)
Requirement already satisfied: testpath in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (0.4.2)
Requirement already satisfied: bleach in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (3.1.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (0.3)
Requirement already satisfied: nbformat>=4.4 in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (4.4.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas_profiling) (41.0.1)
Requirement already satisfied: astroid<3,>=2.2.0 in c:\programdata\anaconda3\lib\site-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas_profiling) (2.2.5)
Requirement already satisfied: isort<5,>=4.2.5 in c:\programdata\anaconda3\lib\site-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas_profiling) (4.3.21)
Requirement already satisfied: mccabe<0.7,>=0.6 in c:\programdata\anaconda3\lib\site-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas_profiling) (0.6.1)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\lib\site-packages (from traitlets->jupyter-client>=5.2.3->phik>=0.9.8->pandas_profiling) (0.2.0)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from traitlets->jupyter-client>=5.2.3->phik>=0.9.8->pandas_profiling) (4.4.0)
Requirement already satisfied: zipp>=0.5 in c:\programdata\anaconda3\lib\site-packages (from importlib-metadata>=0.12->pytest>=4.0.2->phik>=0.9.8->pandas_profiling) (0.5.1)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from bleach->nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (0.5.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\programdata\anaconda3\lib\site-packages (from nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (3.0.1)
Requirement already satisfied: lazy-object-proxy in c:\programdata\anaconda3\lib\site-packages (from astroid<3,>=2.2.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas_profiling) (1.4.1)
Requirement already satisfied: typed-ast>=1.3.0; implementation_name == "cpython" in c:\programdata\anaconda3\lib\site-packages (from astroid<3,>=2.2.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas_profiling) (1.4.0)
Requirement already satisfied: wrapt in c:\programdata\anaconda3\lib\site-packages (from astroid<3,>=2.2.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas_profiling) (1.11.2)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas_profiling) (0.14.11)

In [58]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv('../data/condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [60]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [61]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [62]:
df.T.head(30)

,0,1,2,3,4,5,6,7,8,9,...,23030,23031,23032,23033,23034,23035,23036,23037,23038,23039
BOROUGH,1,1,1,1,1,1,1,2,2,2,...,4,4,4,4,4,4,4,4,4,4
NEIGHBORHOOD,OTHER,OTHER,OTHER,OTHER,UPPER EAST SIDE (59-79),UPPER EAST SIDE (79-96),OTHER,OTHER,OTHER,OTHER,...,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER
BUILDING_CLASS_CATEGORY,13 CONDOS - ELEVATOR APARTMENTS,21 OFFICE BUILDINGS,21 OFFICE BUILDINGS,13 CONDOS - ELEVATOR APARTMENTS,15 CONDOS - 2-10 UNIT RESIDENTIAL,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS,01 ONE FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,...,02 TWO FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,02 TWO FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,09 COOPS - WALKUP APARTMENTS,10 COOPS - ELEVATOR APARTMENTS,02 TWO FAMILY DWELLINGS,12 CONDOS - WALKUP APARTMENTS
TAX_CLASS_AT_PRESENT,2,4,4,2,2C,2B,2B,1,1,1,...,1,1,1,1,1,1,2,2,1,2
BLOCK,716,812,839,592,1379,1551,1891,4090,4120,4120,...,10162,11612,11808,12295,12536,10965,169,131,8932,1216
LOT,1246,68,69,1041,1402,131,159,37,18,20,...,52,73,50,23,38,276,29,4,18,1161
EASE-MENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BUILDING_CLASS_AT_PRESENT,R4,O5,O5,R4,R1,C4,C4,A1,A5,A5,...,B1,A1,A0,A1,B3,A5,C6,D4,S2,R2
ADDRESS,"447 WEST 18TH STREET, PH12A",144 WEST 37TH STREET,40 WEST 38TH STREET,"1 SHERIDAN SQUARE, 8C","20 EAST 65TH STREET, B",354 EAST 89TH STREET,304 WEST 106 STREET,1193 SACKET AVENUE,1215 VAN NEST AVENUE,1211 VAN NEST AVENUE,...,104-59 164TH STREET,10919 132ND STREET,135-24 122ND STREET,134-34 157TH STREET,130-26 176 PLACE,111-17 FRANCIS LEWIS BLVD,"45-14 43RD STREET, 3C","50-05 43RD AVENUE, 3M",91-10 JAMAICA AVE,"61-05 39TH AVENUE, F5"
APARTMENT_NUMBER,PH12A,NaN,NaN,8C,B,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F5
ZIP_CODE,10011,10018,10018,10014,10065,10128,10025,10461,10461,10461,...,11433,11420,11420,11434,11434,11429,11104,11377,11421,11377
RESIDENTIAL_UNITS,1,0,0,1,1,10,10,1,1,1,...,2,1,1,1,2,1,0,0,2,1
COMMERCIAL_UNITS,0,6,7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
TOTAL_UNITS,1,6,7,1,1,10,10,1,1,1,...,2,1,1,1,2,1,0,0,3,85
LAND_SQUARE_FEET,"10,733","2,962","2,074",0,0,"2,013","1,716","3,404","2,042","2,042",...,"2,000","2,400","4,000","2,500","4,000","1,800",0,0,"2,078","15,151"
GROSS_SQUARE_FEET,1979,15435,11332,500,6406,6570,5810,1328,1728,1728,...,1968,1280,1333,1020,2136,1224,0,0,2200,854
YEAR_BUILT,2007,1920,1930,0,0,1920,1900,1925,1935,1935,...,1901,1930,1945,1935,1945,1945,1929,1932,1931,1927
TAX_CLASS_AT_TIME_OF_SALE,2,4,4,2,2,2,2,1,1,1,...,1,1,1,1,1,1,2,2,1,2
BUILDING_CLASS_AT_TIME_OF_SALE,R4,O5,O5,R4,R1,C4,C4,A1,A5,A5,...,B1,A1,A0,A1,B3,A5,C6,D4,S2,R2
SALE_PRICE,0,0,0,0,0,0,0,0,0,0,...,367500,514000,635000,545000,875000,510000,355000,375000,1100000,569202
SALE_DATE,01/01/2019,01/01/2019,01/01/2019,01/01/2019,01/01/2019,01/01/2019,01/01/2019,01/01/2019,01/01/2019,01/01/2019,...,04/30/2019,04/30/2019,04/30/2019,04/30/2019,04/30/2019,04/30/2019,04/30/2019,04/30/2019,04/30/2019,04/30/2019

In [63]:
df.isnull().sum()

BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING_CLASS_CATEGORY               0
TAX_CLASS_AT_PRESENT                  1
BLOCK                                 0
LOT                                   0
EASE-MENT                         23040
BUILDING_CLASS_AT_PRESENT             1
ADDRESS                               0
APARTMENT_NUMBER                  17839
ZIP_CODE                              1
RESIDENTIAL_UNITS                     1
COMMERCIAL_UNITS                      1
TOTAL_UNITS                           1
LAND_SQUARE_FEET                     53
GROSS_SQUARE_FEET                     1
YEAR_BUILT                           35
TAX_CLASS_AT_TIME_OF_SALE             0
BUILDING_CLASS_AT_TIME_OF_SALE        0
SALE_PRICE                            0
SALE_DATE                             0
dtype: int64

In [9]:
import numpy as np

df = df.replace( '########',np.NaN, regex=True)

In [10]:
key = ['ZIP_CODE', 'COMMERCIAL_UNITS', 'TOTAL_UNITS', 'LAND_SQUARE_FEET',
       'GROSS_SQUARE_FEET', 'YEAR_BUILT', 'SALE_PRICE']
replace= [-148.0,-147.0,-1.0]
df[key] = df[key].replace( replace,np.NaN, regex=True)

In [11]:
df.dtypes

BOROUGH                            object
NEIGHBORHOOD                       object
BUILDING_CLASS_CATEGORY            object
TAX_CLASS_AT_PRESENT               object
BLOCK                               int64
LOT                                 int64
EASE-MENT                         float64
BUILDING_CLASS_AT_PRESENT          object
ADDRESS                            object
APARTMENT_NUMBER                   object
ZIP_CODE                          float64
RESIDENTIAL_UNITS                 float64
COMMERCIAL_UNITS                  float64
TOTAL_UNITS                       float64
LAND_SQUARE_FEET                   object
GROSS_SQUARE_FEET                 float64
YEAR_BUILT                        float64
TAX_CLASS_AT_TIME_OF_SALE           int64
BUILDING_CLASS_AT_TIME_OF_SALE     object
SALE_PRICE                          int64
SALE_DATE                          object
dtype: object

In [12]:
df = df.drop(columns = ['APARTMENT_NUMBER', 'EASE-MENT'])

In [13]:
cols_mode = ['TAX_CLASS_AT_PRESENT', 'BUILDING_CLASS_AT_PRESENT', 'ZIP_CODE', 'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS']

for column in cols_mode:
    df[column].fillna(df[column].mode()[0], inplace=True)

#'YEAR_BUILT' TOTAL_UNITS  GROSS_SQUARE_FEET LAND_SQUARE_FEET

In [14]:
df.TOTAL_UNITS = df.RESIDENTIAL_UNITS + df.COMMERCIAL_UNITS

In [15]:
df['LAND_SQUARE_FEET'] = (
    df['LAND_SQUARE_FEET']
    .str.replace(',','')
)
df['LAND_SQUARE_FEET']= df['LAND_SQUARE_FEET'].astype('float64')

In [16]:
cols_mean = ['YEAR_BUILT', 'TOTAL_UNITS', 'GROSS_SQUARE_FEET','LAND_SQUARE_FEET']

for column in cols_mean:
    df[column].fillna(df[column].mean(), inplace=True)

In [17]:
df.T.head(21)

,0,1,2,3,4,5,6,7,8,9,...,23030,23031,23032,23033,23034,23035,23036,23037,23038,23039
BOROUGH,1,1,1,1,1,1,1,2,2,2,...,4,4,4,4,4,4,4,4,4,4
NEIGHBORHOOD,OTHER,OTHER,OTHER,OTHER,UPPER EAST SIDE (59-79),UPPER EAST SIDE (79-96),OTHER,OTHER,OTHER,OTHER,...,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER
BUILDING_CLASS_CATEGORY,13 CONDOS - ELEVATOR APARTMENTS,21 OFFICE BUILDINGS,21 OFFICE BUILDINGS,13 CONDOS - ELEVATOR APARTMENTS,15 CONDOS - 2-10 UNIT RESIDENTIAL,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS,01 ONE FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,...,02 TWO FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,02 TWO FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,09 COOPS - WALKUP APARTMENTS,10 COOPS - ELEVATOR APARTMENTS,02 TWO FAMILY DWELLINGS,12 CONDOS - WALKUP APARTMENTS
TAX_CLASS_AT_PRESENT,2,4,4,2,2C,2B,2B,1,1,1,...,1,1,1,1,1,1,2,2,1,2
BLOCK,716,812,839,592,1379,1551,1891,4090,4120,4120,...,10162,11612,11808,12295,12536,10965,169,131,8932,1216
LOT,1246,68,69,1041,1402,131,159,37,18,20,...,52,73,50,23,38,276,29,4,18,1161
BUILDING_CLASS_AT_PRESENT,R4,O5,O5,R4,R1,C4,C4,A1,A5,A5,...,B1,A1,A0,A1,B3,A5,C6,D4,S2,R2
ADDRESS,"447 WEST 18TH STREET, PH12A",144 WEST 37TH STREET,40 WEST 38TH STREET,"1 SHERIDAN SQUARE, 8C","20 EAST 65TH STREET, B",354 EAST 89TH STREET,304 WEST 106 STREET,1193 SACKET AVENUE,1215 VAN NEST AVENUE,1211 VAN NEST AVENUE,...,104-59 164TH STREET,10919 132ND STREET,135-24 122ND STREET,134-34 157TH STREET,130-26 176 PLACE,111-17 FRANCIS LEWIS BLVD,"45-14 43RD STREET, 3C","50-05 43RD AVENUE, 3M",91-10 JAMAICA AVE,"61-05 39TH AVENUE, F5"
ZIP_CODE,10011,10018,10018,10014,10065,10128,10025,10461,10461,10461,...,11433,11420,11420,11434,11434,11429,11104,11377,11421,11377
RESIDENTIAL_UNITS,1,0,0,1,1,10,10,1,1,1,...,2,1,1,1,2,1,0,0,2,1
COMMERCIAL_UNITS,0,6,7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
TOTAL_UNITS,1,6,7,1,1,10,10,1,1,1,...,2,1,1,1,2,1,0,0,3,1
LAND_SQUARE_FEET,10733,2962,2074,0,0,2013,1716,3404,2042,2042,...,2000,2400,4000,2500,4000,1800,0,0,2078,15151
GROSS_SQUARE_FEET,1979,15435,11332,500,6406,6570,5810,1328,1728,1728,...,1968,1280,1333,1020,2136,1224,0,0,2200,854
YEAR_BUILT,2007,1920,1930,0,0,1920,1900,1925,1935,1935,...,1901,1930,1945,1935,1945,1945,1929,1932,1931,1927
TAX_CLASS_AT_TIME_OF_SALE,2,4,4,2,2,2,2,1,1,1,...,1,1,1,1,1,1,2,2,1,2
BUILDING_CLASS_AT_TIME_OF_SALE,R4,O5,O5,R4,R1,C4,C4,A1,A5,A5,...,B1,A1,A0,A1,B3,A5,C6,D4,S2,R2
SALE_PRICE,0,0,0,0,0,0,0,0,0,0,...,367500,514000,635000,545000,875000,510000,355000,375000,1100000,569202
SALE_DATE,01/01/2019,01/01/2019,01/01/2019,01/01/2019,01/01/2019,01/01/2019,01/01/2019,01/01/2019,01/01/2019,01/01/2019,...,04/30/2019,04/30/2019,04/30/2019,04/30/2019,04/30/2019,04/30/2019,04/30/2019,04/30/2019,04/30/2019,04/30/2019

In [64]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
BLOCK,23040.0,4.459116e+03,3.713270e+03,1.0,1341.0,3546.0,6673.75,16350.0
LOT,23040.0,3.539485e+02,6.280253e+02,1.0,22.0,49.0,375.00,9057.0
EASE-MENT,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZIP_CODE,23039.0,1.079119e+04,1.103414e+03,0.0,10306.0,11211.0,11360.00,11697.0
RESIDENTIAL_UNITS,23039.0,1.827423e+00,1.009043e+01,0.0,0.0,1.0,2.00,750.0
COMMERCIAL_UNITS,23039.0,2.865142e-01,5.778224e+00,-148.0,0.0,0.0,0.00,570.0
TOTAL_UNITS,23039.0,2.320891e+00,1.207055e+01,0.0,1.0,1.0,2.00,755.0
GROSS_SQUARE_FEET,23039.0,3.508555e+03,2.218610e+04,0.0,494.0,1356.0,2280.00,1303935.0
YEAR_BUILT,23005.0,1.819672e+03,4.883766e+02,0.0,1920.0,1940.0,1965.00,2019.0
TAX_CLASS_AT_TIME_OF_SALE,23040.0,1.624479e+00,8.038978e-01,1.0,1.0,1.0,2.00,4.0
SALE_PRICE,23040.0,1.328133e+06,1.025394e+07,0.0,0.0,455000.0,875000.00,850000000.0

In [19]:
key = ['ZIP_CODE','LAND_SQUARE_FEET',
       'GROSS_SQUARE_FEET', 'YEAR_BUILT']
replace= [0.0]
df[key] = df[key].replace( replace,np.NaN, regex=True)

In [20]:
cols_mean = ['ZIP_CODE','LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT', 'SALE_PRICE']

for column in cols_mean:
    df[column].fillna(df[column].mean(), inplace=True)

In [21]:
key = ['ZIP_CODE', 'BLOCK', 'LOT', 'TAX_CLASS_AT_TIME_OF_SALE']
df[key] = df[key].astype(str)

In [22]:
from datetime import datetime
df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'])
train = df[df['SALE_DATE']<='2019-03-31']
test = df[df['SALE_DATE']> '2019-03-31']

In [23]:
train.T.head(19)

,0,1,2,3,4,5,6,7,8,9,...,18157,18158,18159,18160,18161,18162,18163,18164,18165,18166
BOROUGH,1,1,1,1,1,1,1,2,2,2,...,3,3,3,4,4,4,4,4,4,5
NEIGHBORHOOD,OTHER,OTHER,OTHER,OTHER,UPPER EAST SIDE (59-79),UPPER EAST SIDE (79-96),OTHER,OTHER,OTHER,OTHER,...,OTHER,OTHER,OTHER,ASTORIA,OTHER,OTHER,FLUSHING-NORTH,OTHER,OTHER,OTHER
BUILDING_CLASS_CATEGORY,13 CONDOS - ELEVATOR APARTMENTS,21 OFFICE BUILDINGS,21 OFFICE BUILDINGS,13 CONDOS - ELEVATOR APARTMENTS,15 CONDOS - 2-10 UNIT RESIDENTIAL,07 RENTALS - WALKUP APARTMENTS,07 RENTALS - WALKUP APARTMENTS,01 ONE FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,...,13 CONDOS - ELEVATOR APARTMENTS,03 THREE FAMILY DWELLINGS,02 TWO FAMILY DWELLINGS,02 TWO FAMILY DWELLINGS,14 RENTALS - 4-10 UNIT,02 TWO FAMILY DWELLINGS,13 CONDOS - ELEVATOR APARTMENTS,02 TWO FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,02 TWO FAMILY DWELLINGS
TAX_CLASS_AT_PRESENT,2,4,4,2,2C,2B,2B,1,1,1,...,2,1,1,1,2A,1,2,1,1,1
BLOCK,716,812,839,592,1379,1551,1891,4090,4120,4120,...,8720,7806,6708,723,1723,15763,5137,9854,8133,4960
LOT,1246,68,69,1041,1402,131,159,37,18,20,...,1551,29,11,28,1,13,1243,3,24,16
BUILDING_CLASS_AT_PRESENT,R4,O5,O5,R4,R1,C4,C4,A1,A5,A5,...,R4,C0,B9,B1,S9,B2,R4,S2,A1,B9
ADDRESS,"447 WEST 18TH STREET, PH12A",144 WEST 37TH STREET,40 WEST 38TH STREET,"1 SHERIDAN SQUARE, 8C","20 EAST 65TH STREET, B",354 EAST 89TH STREET,304 WEST 106 STREET,1193 SACKET AVENUE,1215 VAN NEST AVENUE,1211 VAN NEST AVENUE,...,"40 OCEANA DRIVE WEST, 4D",1107 EAST 58TH STREET,908 EAST 16TH STREET,3225 47TH STREET,108-02 NORTHERN BOULEVARD,23-72 BROOKHAVEN AVENUE,"138-35 ELDER AVENUE, 4D",84-45 164TH STREET,43-11 LITTLE NECK PARKWAY,3270 AMBOY ROAD
ZIP_CODE,10011.0,10018.0,10018.0,10014.0,10065.0,10128.0,10025.0,10461.0,10461.0,10461.0,...,11235.0,11234.0,11230.0,11103.0,11368.0,11691.0,11355.0,11432.0,11363.0,10306.0
RESIDENTIAL_UNITS,1,0,0,1,1,10,10,1,1,1,...,1,3,2,2,4,2,1,2,1,2
COMMERCIAL_UNITS,0,6,7,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,1,0,0
TOTAL_UNITS,1,6,7,1,1,10,10,1,1,1,...,1,3,2,2,6,2,1,3,1,2
LAND_SQUARE_FEET,10733,2962,2074,8072.57,8072.57,2013,1716,3404,2042,2042,...,8072.57,2700,1092,2300,2611,4168,51795,2000,6867,2736
GROSS_SQUARE_FEET,1979,15435,11332,500,6406,6570,5810,1328,1728,1728,...,1069,3430,1842,3150,5386,2268,1151,2800,1526,2100
YEAR_BUILT,2007,1920,1930,1949.92,1949.92,1920,1900,1925,1935,1935,...,1949.92,1965,1955,1972,1930,1965,1949.92,1931,1925,1998
TAX_CLASS_AT_TIME_OF_SALE,2,4,4,2,2,2,2,1,1,1,...,2,1,1,1,2,1,2,1,1,1
BUILDING_CLASS_AT_TIME_OF_SALE,R4,O5,O5,R4,R1,C4,C4,A1,A5,A5,...,R4,C0,B9,B1,S9,B2,R4,S2,A1,B9
SALE_PRICE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SALE_DATE,2019-01-01 00:00:00,2019-01-01 00:00:00,2019-01-01 00:00:00,2019-01-01 00:00:00,2019-01-01 00:00:00,2019-01-01 00:00:00,2019-01-01 00:00:00,2019-01-01 00:00:00,2019-01-01 00:00:00,2019-01-01 00:00:00,...,2019-03-31 00:00:00,2019-03-31 00:00:00,2019-03-31 00:00:00,2019-03-31 00:00:00,2019-03-31 00:00:00,2019-03-31 00:00:00,2019-03-31 00:00:00,2019-03-31 00:00:00,2019-03-31 00:00:00,2019-03-31 00:00:00

In [24]:
test.T.head(19)

,18167,18168,18169,18170,18171,18172,18173,18174,18175,18176,...,23030,23031,23032,23033,23034,23035,23036,23037,23038,23039
BOROUGH,1,1,1,1,1,1,1,1,1,1,...,4,4,4,4,4,4,4,4,4,4
NEIGHBORHOOD,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,GRAMERCY,GRAMERCY,GRAMERCY,...,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER,OTHER
BUILDING_CLASS_CATEGORY,13 CONDOS - ELEVATOR APARTMENTS,13 CONDOS - ELEVATOR APARTMENTS,13 CONDOS - ELEVATOR APARTMENTS,17 CONDO COOPS,21 OFFICE BUILDINGS,15 CONDOS - 2-10 UNIT RESIDENTIAL,13 CONDOS - ELEVATOR APARTMENTS,10 COOPS - ELEVATOR APARTMENTS,13 CONDOS - ELEVATOR APARTMENTS,13 CONDOS - ELEVATOR APARTMENTS,...,02 TWO FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,02 TWO FAMILY DWELLINGS,01 ONE FAMILY DWELLINGS,09 COOPS - WALKUP APARTMENTS,10 COOPS - ELEVATOR APARTMENTS,02 TWO FAMILY DWELLINGS,12 CONDOS - WALKUP APARTMENTS
TAX_CLASS_AT_PRESENT,2,2,2,2,4,2C,2,2,2,2,...,1,1,1,1,1,1,2,2,1,2
BLOCK,695,767,767,721,746,145,31,880,878,878,...,10162,11612,11808,12295,12536,10965,169,131,8932,1216
LOT,1562,1609,1612,1008,64,1203,1050,42,1010,1059,...,52,73,50,23,38,276,29,4,18,1161
BUILDING_CLASS_AT_PRESENT,R4,R4,R4,R9,O8,R1,R4,D4,R4,R4,...,B1,A1,A0,A1,B3,A5,C6,D4,S2,R2
ADDRESS,"555 WEST 23RD STREET, N11E","221 WEST 17TH STREET, 6A","221 WEST 17TH STREET, PH3","465 WEST 23RD STREET, RCU1",340 WEST 23RD STREET,"109 READE STREET, D","75 WALL STREET, 21I","330 THIRD AVENUE, 18K","121 EAST 22ND STREET, N204","121 EAST 22ND STREET, N804",...,104-59 164TH STREET,10919 132ND STREET,135-24 122ND STREET,134-34 157TH STREET,130-26 176 PLACE,111-17 FRANCIS LEWIS BLVD,"45-14 43RD STREET, 3C","50-05 43RD AVENUE, 3M",91-10 JAMAICA AVE,"61-05 39TH AVENUE, F5"
ZIP_CODE,10011.0,10011.0,10011.0,10011.0,10011.0,10013.0,10005.0,10010.0,10010.0,10010.0,...,11433.0,11420.0,11420.0,11434.0,11434.0,11429.0,11104.0,11377.0,11421.0,11377.0
RESIDENTIAL_UNITS,1,1,1,0,3,1,1,0,1,1,...,2,1,1,1,2,1,0,0,2,1
COMMERCIAL_UNITS,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
TOTAL_UNITS,1,1,1,0,4,1,1,0,1,1,...,2,1,1,1,2,1,0,0,3,1
LAND_SQUARE_FEET,8072.57,5550,5550,8072.57,2469,8072.57,8072.57,8072.57,22202,22202,...,2000,2400,4000,2500,4000,1800,8072.57,8072.57,2078,15151
GROSS_SQUARE_FEET,670,36835,36835,4571.72,5603,1297,438,4571.72,773,780,...,1968,1280,1333,1020,2136,1224,4571.72,4571.72,2200,854
YEAR_BUILT,2005,1912,1912,1932,1900,1920,1987,1964,1952,1952,...,1901,1930,1945,1935,1945,1945,1929,1932,1931,1927
TAX_CLASS_AT_TIME_OF_SALE,2,2,2,2,4,2,2,2,2,2,...,1,1,1,1,1,1,2,2,1,2
BUILDING_CLASS_AT_TIME_OF_SALE,R4,R4,R4,R9,O8,R1,R4,D4,R4,R4,...,B1,A1,A0,A1,B3,A5,C6,D4,S2,R2
SALE_PRICE,949000,4683950,5600000,1100000,0,2350000,675000,485000,1486645,1734080,...,367500,514000,635000,545000,875000,510000,355000,375000,1100000,569202
SALE_DATE,2019-04-01 00:00:00,2019-04-01 00:00:00,2019-04-01 00:00:00,2019-04-01 00:00:00,2019-04-01 00:00:00,2019-04-01 00:00:00,2019-04-01 00:00:00,2019-04-01 00:00:00,2019-04-01 00:00:00,2019-04-01 00:00:00,...,2019-04-30 00:00:00,2019-04-30 00:00:00,2019-04-30 00:00:00,2019-04-30 00:00:00,2019-04-30 00:00:00,2019-04-30 00:00:00,2019-04-30 00:00:00,2019-04-30 00:00:00,2019-04-30 00:00:00,2019-04-30 00:00:00

In [25]:
train.select_dtypes(exclude='number').describe().T.sort_values(by='unique')

,count,unique,top,freq,first,last
TAX_CLASS_AT_TIME_OF_SALE,18167,3,1,9473,NaN,NaN
BOROUGH,18167,5,4,5883,NaN,NaN
TAX_CLASS_AT_PRESENT,18167,10,1,8911,NaN,NaN
NEIGHBORHOOD,18167,11,OTHER,15058,NaN,NaN
BUILDING_CLASS_CATEGORY,18167,43,01 ONE FAMILY DWELLINGS,4094,NaN,NaN
SALE_DATE,18167,90,2019-01-24 00:00:00,480,2019-01-01 00:00:00,2019-03-31 00:00:00
BUILDING_CLASS_AT_PRESENT,18167,140,D4,2640,NaN,NaN
BUILDING_CLASS_AT_TIME_OF_SALE,18167,140,D4,2640,NaN,NaN
ZIP_CODE,18167,184,10314.0,296,NaN,NaN
LOT,18167,1326,1,855,NaN,NaN
BLOCK,18167,7226,878,169,NaN,NaN
ADDRESS,18167,17926,N/A ROCKAWAY BOULEVARD,5,NaN,NaN

In [26]:
train.groupby('BOROUGH')['SALE_PRICE'].mean()

BOROUGH
1    3.200017e+06
2    5.736442e+05
3    8.495242e+05
4    7.335611e+05
5    3.947132e+05
Name: SALE_PRICE, dtype: float64

In [27]:
target = 'SALE_PRICE'
high_cardinality = ['ADDRESS', 'BLOCK', 'LOT', 'SALE_DATE']
features = train.columns.drop([target] + high_cardinality)

X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

In [28]:
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

In [29]:
X_train.head(20)

,BOROUGH_1,BOROUGH_2,BOROUGH_3,BOROUGH_4,BOROUGH_5,NEIGHBORHOOD_OTHER,NEIGHBORHOOD_UPPER EAST SIDE (59-79),NEIGHBORHOOD_UPPER EAST SIDE (79-96),NEIGHBORHOOD_BOROUGH PARK,NEIGHBORHOOD_ASTORIA,...,BUILDING_CLASS_AT_TIME_OF_SALE_RA,BUILDING_CLASS_AT_TIME_OF_SALE_G4,BUILDING_CLASS_AT_TIME_OF_SALE_V2,BUILDING_CLASS_AT_TIME_OF_SALE_H2,BUILDING_CLASS_AT_TIME_OF_SALE_P9,BUILDING_CLASS_AT_TIME_OF_SALE_W4,BUILDING_CLASS_AT_TIME_OF_SALE_W3,BUILDING_CLASS_AT_TIME_OF_SALE_I7,BUILDING_CLASS_AT_TIME_OF_SALE_H4,BUILDING_CLASS_AT_TIME_OF_SALE_K6
0,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
from sklearn.feature_selection import f_regression, SelectKBest


selector = SelectKBest(score_func=f_regression, k=54)

# IMPORTANT!
# .fit_transform on the train set
# .transform on test set
X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)
X_train_selected.shape, X_test_selected.shape

((18167, 54), (4873, 54))

In [31]:
# Which features were selected?
all_names = X_train.columns
selected_mask = selector.get_support()
selected_names = all_names[selected_mask]
unselected_names = all_names[~selected_mask]

print('Features selected:')
for name in selected_names:
    print(name)
    
print('\n')
print('Features not selected:')
for name in unselected_names:
    print(name)

Features selected:
BOROUGH_1
BOROUGH_4
BUILDING_CLASS_CATEGORY_21 OFFICE BUILDINGS
BUILDING_CLASS_CATEGORY_01 ONE FAMILY DWELLINGS
BUILDING_CLASS_CATEGORY_02 TWO FAMILY DWELLINGS
BUILDING_CLASS_CATEGORY_32 HOSPITAL AND HEALTH FACILITIES
BUILDING_CLASS_CATEGORY_33 EDUCATIONAL FACILITIES
BUILDING_CLASS_CATEGORY_08 RENTALS - ELEVATOR APARTMENTS
BUILDING_CLASS_CATEGORY_22 STORE BUILDINGS
BUILDING_CLASS_CATEGORY_30 WAREHOUSES
BUILDING_CLASS_CATEGORY_25 LUXURY HOTELS
BUILDING_CLASS_CATEGORY_28 COMMERCIAL CONDOS
TAX_CLASS_AT_PRESENT_4
TAX_CLASS_AT_PRESENT_1
BUILDING_CLASS_AT_PRESENT_D6
BUILDING_CLASS_AT_PRESENT_E1
BUILDING_CLASS_AT_PRESENT_D1
BUILDING_CLASS_AT_PRESENT_O4
BUILDING_CLASS_AT_PRESENT_E9
BUILDING_CLASS_AT_PRESENT_O6
BUILDING_CLASS_AT_PRESENT_H1
BUILDING_CLASS_AT_PRESENT_RR
BUILDING_CLASS_AT_PRESENT_D8
BUILDING_CLASS_AT_PRESENT_W8
BUILDING_CLASS_AT_PRESENT_R5
BUILDING_CLASS_AT_PRESENT_K3
BUILDING_CLASS_AT_PRESENT_I4
BUILDING_CLASS_AT_PRESENT_H2
ZIP_CODE_10018.0
ZIP_CODE_10022.0
ZIP_CODE_10013.0
ZIP_CODE_10017.0
ZIP_CODE_10019.0
ZIP_CODE_11101.0
RESIDENTIAL_UNITS
COMMERCIAL_UNITS
TOTAL_UNITS
LAND_SQUARE_FEET
GROSS_SQUARE_FEET
TAX_CLASS_AT_TIME_OF_SALE_4
TAX_CLASS_AT_TIME_OF_SALE_1
BUILDING_CLASS_AT_TIME_OF_SALE_D6
BUILDING_CLASS_AT_TIME_OF_SALE_E1
BUILDING_CLASS_AT_TIME_OF_SALE_D1
BUILDING_CLASS_AT_TIME_OF_SALE_O4
BUILDING_CLASS_AT_TIME_OF_SALE_E9
BUILDING_CLASS_AT_TIME_OF_SALE_O6
BUILDING_CLASS_AT_TIME_OF_SALE_H1
BUILDING_CLASS_AT_TIME_OF_SALE_D8
BUILDING_CLASS_AT_TIME_OF_SALE_W8
BUILDING_CLASS_AT_TIME_OF_SALE_R5
BUILDING_CLASS_AT_TIME_OF_SALE_K3
BUILDING_CLASS_AT_TIME_OF_SALE_I4
BUILDING_CLASS_AT_TIME_OF_SALE_H2


Features not selected:
BOROUGH_2
BOROUGH_3
BOROUGH_5
NEIGHBORHOOD_OTHER
NEIGHBORHOOD_UPPER EAST SIDE (59-79)
NEIGHBORHOOD_UPPER EAST SIDE (79-96)
NEIGHBORHOOD_BOROUGH PARK
NEIGHBORHOOD_ASTORIA
NEIGHBORHOOD_FOREST HILLS
NEIGHBORHOOD_UPPER WEST SIDE (59-79)
NEIGHBORHOOD_UPPER WEST SIDE (79-96)
NEIGHBORHOOD_BEDFORD STUYVESANT
NEIGHBORHOOD_FLUSHING-NORTH
NEIGHBORHOOD_GRAMERCY
BUILDING_CLASS_CATEGORY_13 CONDOS - ELEVATOR APARTMENTS
BUILDING_CLASS_CATEGORY_15 CONDOS - 2-10 UNIT RESIDENTIAL
BUILDING_CLASS_CATEGORY_07 RENTALS - WALKUP APARTMENTS
BUILDING_CLASS_CATEGORY_05 TAX CLASS 1 VACANT LAND
BUILDING_CLASS_CATEGORY_29 COMMERCIAL GARAGES
BUILDING_CLASS_CATEGORY_31 COMMERCIAL VACANT LAND
BUILDING_CLASS_CATEGORY_41 TAX CLASS 4 - OTHER
BUILDING_CLASS_CATEGORY_14 RENTALS - 4-10 UNIT
BUILDING_CLASS_CATEGORY_03 THREE FAMILY DWELLINGS
BUILDING_CLASS_CATEGORY_10 COOPS - ELEVATOR APARTMENTS
BUILDING_CLASS_CATEGORY_44 CONDO PARKING
BUILDING_CLASS_CATEGORY_47 CONDO NON-BUSINESS STORAGE
BUILDING_CLASS_CATEGORY_12 CONDOS - WALKUP APARTMENTS
BUILDING_CLASS_CATEGORY_43 CONDO OFFICE BUILDINGS
BUILDING_CLASS_CATEGORY_09 COOPS - WALKUP APARTMENTS
BUILDING_CLASS_CATEGORY_27 FACTORIES
BUILDING_CLASS_CATEGORY_04 TAX CLASS 1 CONDOS
BUILDING_CLASS_CATEGORY_17 CONDO COOPS
BUILDING_CLASS_CATEGORY_26 OTHER HOTELS
BUILDING_CLASS_CATEGORY_45 CONDO HOTELS
BUILDING_CLASS_CATEGORY_06 TAX CLASS 1 - OTHER
BUILDING_CLASS_CATEGORY_46 CONDO STORE BUILDINGS
BUILDING_CLASS_CATEGORY_34 THEATRES
BUILDING_CLASS_CATEGORY_37 RELIGIOUS FACILITIES
BUILDING_CLASS_CATEGORY_49 CONDO WAREHOUSES/FACTORY/INDUS
BUILDING_CLASS_CATEGORY_16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT
BUILDING_CLASS_CATEGORY_11A CONDO-RENTALS
BUILDING_CLASS_CATEGORY_36 OUTDOOR RECREATIONAL FACILITIES
BUILDING_CLASS_CATEGORY_23 LOFT BUILDINGS
BUILDING_CLASS_CATEGORY_48 CONDO TERRACES/GARDENS/CABANAS
BUILDING_CLASS_CATEGORY_35 INDOOR PUBLIC AND CULTURAL FACILITIES
BUILDING_CLASS_CATEGORY_39 TRANSPORTATION FACILITIES
BUILDING_CLASS_CATEGORY_42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC
TAX_CLASS_AT_PRESENT_2
TAX_CLASS_AT_PRESENT_2C
TAX_CLASS_AT_PRESENT_2B
TAX_CLASS_AT_PRESENT_1B
TAX_CLASS_AT_PRESENT_2A
TAX_CLASS_AT_PRESENT_1A
TAX_CLASS_AT_PRESENT_1C
TAX_CLASS_AT_PRESENT_1D
BUILDING_CLASS_AT_PRESENT_R4
BUILDING_CLASS_AT_PRESENT_O5
BUILDING_CLASS_AT_PRESENT_R1
BUILDING_CLASS_AT_PRESENT_C4
BUILDING_CLASS_AT_PRESENT_A1
BUILDING_CLASS_AT_PRESENT_A5
BUILDING_CLASS_AT_PRESENT_B1
BUILDING_CLASS_AT_PRESENT_V0
BUILDING_CLASS_AT_PRESENT_G7
BUILDING_CLASS_AT_PRESENT_I9
BUILDING_CLASS_AT_PRESENT_W6
BUILDING_CLASS_AT_PRESENT_D3
BUILDING_CLASS_AT_PRESENT_O7
BUILDING_CLASS_AT_PRESENT_G1
BUILDING_CLASS_AT_PRESENT_V1
BUILDING_CLASS_AT_PRESENT_I1
BUILDING_CLASS_AT_PRESENT_W9
BUILDING_CLASS_AT_PRESENT_Z9
BUILDING_CLASS_AT_PRESENT_S3
BUILDING_CLASS_AT_PRESENT_V6
BUILDING_CLASS_AT_PRESENT_C0
BUILDING_CLASS_AT_PRESENT_S2
BUILDING_CLASS_AT_PRESENT_C2
BUILDING_CLASS_AT_PRESENT_K1
BUILDING_CLASS_AT_PRESENT_B9
BUILDING_CLASS_AT_PRESENT_A9
BUILDING_CLASS_AT_PRESENT_C3
BUILDING_CLASS_AT_PRESENT_A3
BUILDING_CLASS_AT_PRESENT_B3
BUILDING_CLASS_AT_PRESENT_D4
BUILDING_CLASS_AT_PRESENT_B2
BUILDING_CLASS_AT_PRESENT_C7
BUILDING_CLASS_AT_PRESENT_C1
BUILDING_CLASS_AT_PRESENT_RP
BUILDING_CLASS_AT_PRESENT_RS
BUILDING_CLASS_AT_PRESENT_A2
BUILDING_CLASS_AT_PRESENT_R2
BUILDING_CLASS_AT_PRESENT_A0
BUILDING_CLASS_AT_PRESENT_RB
BUILDING_CLASS_AT_PRESENT_D7
BUILDING_CLASS_AT_PRESENT_S1
BUILDING_CLASS_AT_PRESENT_C6
BUILDING_CLASS_AT_PRESENT_F5
BUILDING_CLASS_AT_PRESENT_R3
BUILDING_CLASS_AT_PRESENT_R9
BUILDING_CLASS_AT_PRESENT_H3
BUILDING_CLASS_AT_PRESENT_RH
BUILDING_CLASS_AT_PRESENT_G2
BUILDING_CLASS_AT_PRESENT_Z0
BUILDING_CLASS_AT_PRESENT_S9
BUILDING_CLASS_AT_PRESENT_A7
BUILDING_CLASS_AT_PRESENT_G0
BUILDING_CLASS_AT_PRESENT_K2
BUILDING_CLASS_AT_PRESENT_D0
BUILDING_CLASS_AT_PRESENT_K8
BUILDING_CLASS_AT_PRESENT_A4
BUILDING_CLASS_AT_PRESENT_R6
BUILDING_CLASS_AT_PRESENT_RG
BUILDING_CLASS_AT_PRESENT_I6
BUILDING_CLASS_AT_PRESENT_A6
BUILDING_CLASS_AT_PRESENT_C5
BUILDING_CLASS_AT_PRESENT_C8
BUILDING_CLASS_AT_PRESENT_K4
BUILDING_CLASS_AT_PRESENT_S5
BUILDING_CLASS_AT_PRESENT_F9
BUILDING_CLASS_AT_PRESENT_O9
BUILDING_CLASS_AT_PRESENT_A8
BUILDING_CLASS_AT_PRESENT_RK
BUILDING_CLASS_AT_PRESENT_S4
BUILDING_CLASS_AT_PRESENT_J1
BUILDING_CLASS_AT_PRESENT_G6
BUILDING_CLASS_AT_PRESENT_M1
BUILDING_CLASS_AT_PRESENT_D9
BUILDING_CLASS_AT_PRESENT_G3
BUILDING_CLASS_AT_PRESENT_J6
BUILDING_CLASS_AT_PRESENT_O2
BUILDING_CLASS_AT_PRESENT_W2
BUILDING_CLASS_AT_PRESENT_R7
BUILDING_CLASS_AT_PRESENT_GW
BUILDING_CLASS_AT_PRESENT_K9
BUILDING_CLASS_AT_PRESENT_C9
BUILDING_CLASS_AT_PRESENT_F1
BUILDING_CLASS_AT_PRESENT_K7
BUILDING_CLASS_AT_PRESENT_RW
BUILDING_CLASS_AT_PRESENT_J2
BUILDING_CLASS_AT_PRESENT_O8
BUILDING_CLASS_AT_PRESENT_O1
BUILDING_CLASS_AT_PRESENT_F4
BUILDING_CLASS_AT_PRESENT_R8
BUILDING_CLASS_AT_PRESENT_D2
BUILDING_CLASS_AT_PRESENT_K5
BUILDING_CLASS_AT_PRESENT_F8
BUILDING_CLASS_AT_PRESENT_M9
BUILDING_CLASS_AT_PRESENT_Q9
BUILDING_CLASS_AT_PRESENT_M3
BUILDING_CLASS_AT_PRESENT_S0
BUILDING_CLASS_AT_PRESENT_Z2
BUILDING_CLASS_AT_PRESENT_L9
BUILDING_CLASS_AT_PRESENT_E7
BUILDING_CLASS_AT_PRESENT_J9
BUILDING_CLASS_AT_PRESENT_E2
BUILDING_CLASS_AT_PRESENT_HB
BUILDING_CLASS_AT_PRESENT_H9
BUILDING_CLASS_AT_PRESENT_HR
BUILDING_CLASS_AT_PRESENT_G8
BUILDING_CLASS_AT_PRESENT_H7
BUILDING_CLASS_AT_PRESENT_G9
BUILDING_CLASS_AT_PRESENT_I5
BUILDING_CLASS_AT_PRESENT_V9
BUILDING_CLASS_AT_PRESENT_RT
BUILDING_CLASS_AT_PRESENT_P8
BUILDING_CLASS_AT_PRESENT_Z4
BUILDING_CLASS_AT_PRESENT_L8
BUILDING_CLASS_AT_PRESENT_P2
BUILDING_CLASS_AT_PRESENT_L1
BUILDING_CLASS_AT_PRESENT_V3
BUILDING_CLASS_AT_PRESENT_T2
BUILDING_CLASS_AT_PRESENT_RA
BUILDING_CLASS_AT_PRESENT_G4
BUILDING_CLASS_AT_PRESENT_V2
BUILDING_CLASS_AT_PRESENT_P9
BUILDING_CLASS_AT_PRESENT_W4
BUILDING_CLASS_AT_PRESENT_W3
BUILDING_CLASS_AT_PRESENT_I7
BUILDING_CLASS_AT_PRESENT_H4
BUILDING_CLASS_AT_PRESENT_K6
ZIP_CODE_10011.0
ZIP_CODE_10014.0
ZIP_CODE_10065.0
ZIP_CODE_10128.0
ZIP_CODE_10025.0
ZIP_CODE_10461.0
ZIP_CODE_10875.224914705625
ZIP_CODE_10466.0
ZIP_CODE_11209.0
ZIP_CODE_11219.0
ZIP_CODE_11236.0
ZIP_CODE_11213.0
ZIP_CODE_11203.0
ZIP_CODE_11229.0
ZIP_CODE_11230.0
ZIP_CODE_11211.0
ZIP_CODE_11249.0
ZIP_CODE_11105.0
ZIP_CODE_11364.0
ZIP_CODE_11377.0
ZIP_CODE_11001.0
ZIP_CODE_11375.0
ZIP_CODE_11378.0
ZIP_CODE_11379.0
ZIP_CODE_11427.0
ZIP_CODE_11385.0
ZIP_CODE_11433.0
ZIP_CODE_10310.0
ZIP_CODE_10075.0
ZIP_CODE_10023.0
ZIP_CODE_10069.0
ZIP_CODE_10024.0
ZIP_CODE_10472.0
ZIP_CODE_10468.0
ZIP_CODE_10455.0
ZIP_CODE_10454.0
ZIP_CODE_10465.0
ZIP_CODE_11228.0
ZIP_CODE_11238.0
ZIP_CODE_11216.0
ZIP_CODE_11214.0
ZIP_CODE_11234.0
ZIP_CODE_11218.0
ZIP_CODE_11220.0
ZIP_CODE_11221.0
ZIP_CODE_11207.0
ZIP_CODE_11208.0
ZIP_CODE_11226.0
ZIP_CODE_11210.0
ZIP_CODE_11225.0
ZIP_CODE_11223.0
ZIP_CODE_11217.0
ZIP_CODE_11215.0
ZIP_CODE_11232.0
ZIP_CODE_11102.0
ZIP_CODE_11361.0
ZIP_CODE_11435.0
ZIP_CODE_11368.0
ZIP_CODE_11369.0
ZIP_CODE_11373.0
ZIP_CODE_11355.0
ZIP_CODE_11358.0
ZIP_CODE_11365.0
ZIP_CODE_11357.0
ZIP_CODE_11367.0
ZIP_CODE_11005.0
ZIP_CODE_11429.0
ZIP_CODE_11423.0
ZIP_CODE_11414.0
ZIP_CODE_11372.0
ZIP_CODE_11415.0
ZIP_CODE_11413.0
ZIP_CODE_11109.0
ZIP_CODE_11417.0
ZIP_CODE_11428.0
ZIP_CODE_11374.0
ZIP_CODE_11418.0
ZIP_CODE_11419.0
ZIP_CODE_11422.0
ZIP_CODE_11434.0
ZIP_CODE_11436.0
ZIP_CODE_10312.0
ZIP_CODE_10308.0
ZIP_CODE_10314.0
ZIP_CODE_10301.0
ZIP_CODE_10302.0
ZIP_CODE_10305.0
ZIP_CODE_10309.0
ZIP_CODE_10304.0
ZIP_CODE_10001.0
ZIP_CODE_10009.0
ZIP_CODE_10010.0
ZIP_CODE_10003.0
ZIP_CODE_10016.0
ZIP_CODE_10026.0
ZIP_CODE_10021.0
ZIP_CODE_10028.0
ZIP_CODE_10032.0
ZIP_CODE_10467.0
ZIP_CODE_10463.0
ZIP_CODE_10462.0
ZIP_CODE_10471.0
ZIP_CODE_10473.0
ZIP_CODE_11204.0
ZIP_CODE_11205.0
ZIP_CODE_11224.0
ZIP_CODE_11201.0
ZIP_CODE_11212.0
ZIP_CODE_11222.0
ZIP_CODE_11233.0
ZIP_CODE_11235.0
ZIP_CODE_11206.0
ZIP_CODE_11692.0
ZIP_CODE_11103.0
ZIP_CODE_11694.0
ZIP_CODE_11411.0
ZIP_CODE_11356.0
ZIP_CODE_11362.0
ZIP_CODE_11691.0
ZIP_CODE_11354.0
ZIP_CODE_11366.0
ZIP_CODE_11370.0
ZIP_CODE_11432.0
ZIP_CODE_11416.0
ZIP_CODE_11420.0
ZIP_CODE_11104.0
ZIP_CODE_11421.0
ZIP_CODE_10306.0
ZIP_CODE_10303.0
ZIP_CODE_10307.0
ZIP_CODE_10027.0
ZIP_CODE_10029.0
ZIP_CODE_10002.0
ZIP_CODE_10012.0
ZIP_CODE_10038.0
ZIP_CODE_10469.0
ZIP_CODE_10460.0
ZIP_CODE_10474.0
ZIP_CODE_10451.0
ZIP_CODE_10470.0
ZIP_CODE_11106.0
ZIP_CODE_11360.0
ZIP_CODE_11426.0
ZIP_CODE_11004.0
ZIP_CODE_11693.0
ZIP_CODE_11363.0
ZIP_CODE_11412.0
ZIP_CODE_10458.0
ZIP_CODE_11040.0
ZIP_CODE_10030.0
ZIP_CODE_10035.0
ZIP_CODE_10004.0
ZIP_CODE_10456.0
ZIP_CODE_11231.0
ZIP_CODE_10006.0
ZIP_CODE_10037.0
ZIP_CODE_10031.0
ZIP_CODE_10034.0
ZIP_CODE_10040.0
ZIP_CODE_10033.0
ZIP_CODE_10475.0
ZIP_CODE_10457.0
ZIP_CODE_10452.0
ZIP_CODE_10459.0
ZIP_CODE_11237.0
ZIP_CODE_11697.0
ZIP_CODE_10007.0
ZIP_CODE_10036.0
ZIP_CODE_10453.0
ZIP_CODE_10280.0
ZIP_CODE_10464.0
ZIP_CODE_10005.0
ZIP_CODE_10044.0
ZIP_CODE_10039.0
ZIP_CODE_10105.0
ZIP_CODE_11227.0
ZIP_CODE_10282.0
ZIP_CODE_11239.0
YEAR_BUILT
TAX_CLASS_AT_TIME_OF_SALE_2
BUILDING_CLASS_AT_TIME_OF_SALE_R4
BUILDING_CLASS_AT_TIME_OF_SALE_O5
BUILDING_CLASS_AT_TIME_OF_SALE_R1
BUILDING_CLASS_AT_TIME_OF_SALE_C4
BUILDING_CLASS_AT_TIME_OF_SALE_A1
BUILDING_CLASS_AT_TIME_OF_SALE_A5
BUILDING_CLASS_AT_TIME_OF_SALE_B1
BUILDING_CLASS_AT_TIME_OF_SALE_V0
BUILDING_CLASS_AT_TIME_OF_SALE_G7
BUILDING_CLASS_AT_TIME_OF_SALE_I9
BUILDING_CLASS_AT_TIME_OF_SALE_W6
BUILDING_CLASS_AT_TIME_OF_SALE_D3
BUILDING_CLASS_AT_TIME_OF_SALE_O7
BUILDING_CLASS_AT_TIME_OF_SALE_G1
BUILDING_CLASS_AT_TIME_OF_SALE_V1
BUILDING_CLASS_AT_TIME_OF_SALE_I1
BUILDING_CLASS_AT_TIME_OF_SALE_W9
BUILDING_CLASS_AT_TIME_OF_SALE_Z9
BUILDING_CLASS_AT_TIME_OF_SALE_S3
BUILDING_CLASS_AT_TIME_OF_SALE_V6
BUILDING_CLASS_AT_TIME_OF_SALE_C0
BUILDING_CLASS_AT_TIME_OF_SALE_S2
BUILDING_CLASS_AT_TIME_OF_SALE_C2
BUILDING_CLASS_AT_TIME_OF_SALE_K1
BUILDING_CLASS_AT_TIME_OF_SALE_B9
BUILDING_CLASS_AT_TIME_OF_SALE_A9
BUILDING_CLASS_AT_TIME_OF_SALE_C3
BUILDING_CLASS_AT_TIME_OF_SALE_A3
BUILDING_CLASS_AT_TIME_OF_SALE_B3
BUILDING_CLASS_AT_TIME_OF_SALE_D4
BUILDING_CLASS_AT_TIME_OF_SALE_B2
BUILDING_CLASS_AT_TIME_OF_SALE_C7
BUILDING_CLASS_AT_TIME_OF_SALE_C1
BUILDING_CLASS_AT_TIME_OF_SALE_RP
BUILDING_CLASS_AT_TIME_OF_SALE_RS
BUILDING_CLASS_AT_TIME_OF_SALE_A2
BUILDING_CLASS_AT_TIME_OF_SALE_R2
BUILDING_CLASS_AT_TIME_OF_SALE_A0
BUILDING_CLASS_AT_TIME_OF_SALE_RB
BUILDING_CLASS_AT_TIME_OF_SALE_D7
BUILDING_CLASS_AT_TIME_OF_SALE_S1
BUILDING_CLASS_AT_TIME_OF_SALE_C6
BUILDING_CLASS_AT_TIME_OF_SALE_F5
BUILDING_CLASS_AT_TIME_OF_SALE_R3
BUILDING_CLASS_AT_TIME_OF_SALE_R9
BUILDING_CLASS_AT_TIME_OF_SALE_H3
BUILDING_CLASS_AT_TIME_OF_SALE_RH
BUILDING_CLASS_AT_TIME_OF_SALE_G2
BUILDING_CLASS_AT_TIME_OF_SALE_Z0
BUILDING_CLASS_AT_TIME_OF_SALE_S9
BUILDING_CLASS_AT_TIME_OF_SALE_A7
BUILDING_CLASS_AT_TIME_OF_SALE_G0
BUILDING_CLASS_AT_TIME_OF_SALE_K2
BUILDING_CLASS_AT_TIME_OF_SALE_D0
BUILDING_CLASS_AT_TIME_OF_SALE_K8
BUILDING_CLASS_AT_TIME_OF_SALE_A4
BUILDING_CLASS_AT_TIME_OF_SALE_R6
BUILDING_CLASS_AT_TIME_OF_SALE_RG
BUILDING_CLASS_AT_TIME_OF_SALE_I6
BUILDING_CLASS_AT_TIME_OF_SALE_A6
BUILDING_CLASS_AT_TIME_OF_SALE_C5
BUILDING_CLASS_AT_TIME_OF_SALE_C8
BUILDING_CLASS_AT_TIME_OF_SALE_K4
BUILDING_CLASS_AT_TIME_OF_SALE_S5
BUILDING_CLASS_AT_TIME_OF_SALE_F9
BUILDING_CLASS_AT_TIME_OF_SALE_O9
BUILDING_CLASS_AT_TIME_OF_SALE_A8
BUILDING_CLASS_AT_TIME_OF_SALE_RK
BUILDING_CLASS_AT_TIME_OF_SALE_S4
BUILDING_CLASS_AT_TIME_OF_SALE_J1
BUILDING_CLASS_AT_TIME_OF_SALE_G6
BUILDING_CLASS_AT_TIME_OF_SALE_M1
BUILDING_CLASS_AT_TIME_OF_SALE_D9
BUILDING_CLASS_AT_TIME_OF_SALE_G3
BUILDING_CLASS_AT_TIME_OF_SALE_J6
BUILDING_CLASS_AT_TIME_OF_SALE_O2
BUILDING_CLASS_AT_TIME_OF_SALE_W2
BUILDING_CLASS_AT_TIME_OF_SALE_R7
BUILDING_CLASS_AT_TIME_OF_SALE_GW
BUILDING_CLASS_AT_TIME_OF_SALE_K9
BUILDING_CLASS_AT_TIME_OF_SALE_C9
BUILDING_CLASS_AT_TIME_OF_SALE_F1
BUILDING_CLASS_AT_TIME_OF_SALE_K7
BUILDING_CLASS_AT_TIME_OF_SALE_RW
BUILDING_CLASS_AT_TIME_OF_SALE_J2
BUILDING_CLASS_AT_TIME_OF_SALE_O8
BUILDING_CLASS_AT_TIME_OF_SALE_O1
BUILDING_CLASS_AT_TIME_OF_SALE_F4
BUILDING_CLASS_AT_TIME_OF_SALE_D2
BUILDING_CLASS_AT_TIME_OF_SALE_K5
BUILDING_CLASS_AT_TIME_OF_SALE_F8
BUILDING_CLASS_AT_TIME_OF_SALE_R8
BUILDING_CLASS_AT_TIME_OF_SALE_M9
BUILDING_CLASS_AT_TIME_OF_SALE_RR
BUILDING_CLASS_AT_TIME_OF_SALE_Q9
BUILDING_CLASS_AT_TIME_OF_SALE_M3
BUILDING_CLASS_AT_TIME_OF_SALE_S0
BUILDING_CLASS_AT_TIME_OF_SALE_Z2
BUILDING_CLASS_AT_TIME_OF_SALE_L9
BUILDING_CLASS_AT_TIME_OF_SALE_E7
BUILDING_CLASS_AT_TIME_OF_SALE_J9
BUILDING_CLASS_AT_TIME_OF_SALE_E2
BUILDING_CLASS_AT_TIME_OF_SALE_HB
BUILDING_CLASS_AT_TIME_OF_SALE_H9
BUILDING_CLASS_AT_TIME_OF_SALE_HR
BUILDING_CLASS_AT_TIME_OF_SALE_G8
BUILDING_CLASS_AT_TIME_OF_SALE_H7
BUILDING_CLASS_AT_TIME_OF_SALE_G9
BUILDING_CLASS_AT_TIME_OF_SALE_I5
BUILDING_CLASS_AT_TIME_OF_SALE_V9
BUILDING_CLASS_AT_TIME_OF_SALE_RT
BUILDING_CLASS_AT_TIME_OF_SALE_P8
BUILDING_CLASS_AT_TIME_OF_SALE_Z4
BUILDING_CLASS_AT_TIME_OF_SALE_L8
BUILDING_CLASS_AT_TIME_OF_SALE_P2
BUILDING_CLASS_AT_TIME_OF_SALE_L1
BUILDING_CLASS_AT_TIME_OF_SALE_V3
BUILDING_CLASS_AT_TIME_OF_SALE_T2
BUILDING_CLASS_AT_TIME_OF_SALE_RA
BUILDING_CLASS_AT_TIME_OF_SALE_G4
BUILDING_CLASS_AT_TIME_OF_SALE_V2
BUILDING_CLASS_AT_TIME_OF_SALE_P9
BUILDING_CLASS_AT_TIME_OF_SALE_W4
BUILDING_CLASS_AT_TIME_OF_SALE_W3
BUILDING_CLASS_AT_TIME_OF_SALE_I7
BUILDING_CLASS_AT_TIME_OF_SALE_H4
BUILDING_CLASS_AT_TIME_OF_SALE_K6

In [43]:
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.preprocessing import StandardScaler

numeric = selected_names

test_scaled = X_test[numeric]
train_scaled = X_train[numeric]

In [44]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(train_scaled)
X_test_scaled = scaler.transform(test_scaled)

In [47]:
X_train_scaled

array([[ 1.98749497e+00, -6.92037327e-01, -6.65061372e-02, ...,
        -7.41942664e-03, -1.04929426e-02, -1.48400787e-02],
       [ 1.98749497e+00, -6.92037327e-01,  1.50362063e+01, ...,
        -7.41942664e-03, -1.04929426e-02, -1.48400787e-02],
       [ 1.98749497e+00, -6.92037327e-01,  1.50362063e+01, ...,
        -7.41942664e-03, -1.04929426e-02, -1.48400787e-02],
       ...,
       [-5.03145928e-01,  1.44500876e+00, -6.65061372e-02, ...,
        -7.41942664e-03, -1.04929426e-02, -1.48400787e-02],
       [-5.03145928e-01,  1.44500876e+00, -6.65061372e-02, ...,
        -7.41942664e-03, -1.04929426e-02, -1.48400787e-02],
       [-5.03145928e-01, -6.92037327e-01, -6.65061372e-02, ...,
        -7.41942664e-03, -1.04929426e-02, -1.48400787e-02]])

In [48]:
X_test_scaled

array([[ 1.98749497, -0.69203733, -0.06650614, ..., -0.00741943,
        -0.01049294, -0.01484008],
       [ 1.98749497, -0.69203733, -0.06650614, ..., -0.00741943,
        -0.01049294, -0.01484008],
       [ 1.98749497, -0.69203733, -0.06650614, ..., -0.00741943,
        -0.01049294, -0.01484008],
       ...,
       [-0.50314593,  1.44500876, -0.06650614, ..., -0.00741943,
        -0.01049294, -0.01484008],
       [-0.50314593,  1.44500876, -0.06650614, ..., -0.00741943,
        -0.01049294, -0.01484008],
       [-0.50314593,  1.44500876, -0.06650614, ..., -0.00741943,
        -0.01049294, -0.01484008]])

In [49]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [54]:
lin_reg = LinearRegression().fit(train_scaled,y_train)
mean_squared_error(y_train, lin_reg.predict(X_train_scaled))

7.550480282855558e+17

In [68]:
lin_reg = LinearRegression().fit(train_scaled,y_train)
mean_squared_error(y_test, lin_reg.predict(X_test_scaled))

9.039008708050002e+16

In [70]:
from sklearn.linear_model import Ridge

ridge_reg = Ridge().fit(X_train, y_train)
mean_squared_error(y_train, ridge_reg.predict(X_train))

38011039971221.82