<a href="https://colab.research.google.com/github/Zernach/DS-Unit-2-Linear-Models/blob/master/212_ZERNACH_%E2%80%94_Linear_Regression_2_(Tuesday%2C_October_29th_2019).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ASSIGNMENT COMPLETED BY: [RYAN ZERNACH](http://ryan.zernach.com/portfolio/)

![alt text](http://www.zernach.com/wp-content/uploads/2019/09/Ryan-Zernach-Logo-1-e1568499634499.png)

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [x] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [x] Engineer at least two new features. (See below for explanation & ideas.)
- [x] Fit a linear regression model with at least two features.
- [x] Get the model's coefficients and intercept.
- [x] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [x] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [x] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." ‚Äî‚ÄâPedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." ‚Äî‚ÄâAndrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

## PART 1 -- Setup the Data

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [0]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

## PART 2 -- Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.

In [0]:
train = df[df['created'] < '2016-06-01']
test = df[df['created'] >= '2016-06-01']
print(train.shape)
print(test.shape)

(31844, 36)
(16973, 36)

## PART 3 -- Engineer at least two new features. (See below for explanation & ideas.)

In [0]:
# Create 'total_rooms' feature
df['total_rooms'] = df['bathrooms'] + df['bedrooms']

# Create 'perk_count' feature
df['perk_count'] = (df['elevator'] + df['cats_allowed'] + df['hardwood_floors'] +
                    df['dogs_allowed'] + df['doorman'] + df['dishwasher'] +
                    df['no_fee'] + df['laundry_in_building'] + df['fitness_center'] +
                    df['pre-war'] + df['laundry_in_unit'] + df['roof_deck'] +
                    df['outdoor_space'] + df['dining_room'] + df['high_speed_internet'] +
                    df['balcony'] + df['swimming_pool'] + df['new_construction'] +
                    df['terrace'] + df['exclusive'] + df['loft'] + df['garden_patio'] +
                    df['wheelchair_access'] + df['common_outdoor_space'])

# Make sure it worked
df.head()

   bathrooms  bedrooms  ... total_rooms perk_count
0        1.5         3  ...         4.5          0
1        1.0         2  ...         3.0          5
2        1.0         1  ...         2.0          3
3        1.0         1  ...         2.0          2
4        1.0         4  ...         5.0          1

[5 rows x 36 columns]

## PART 4 -- Fit a linear regression model with at least two features.

In [0]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

# Setup the x variables (features)
features = ['total_rooms', 'perk_count']
x_train = train[features]
x_test = test[features]

# Setup the y variable (target)
target = 'price'
y_train = train[target]
y_test = test[target]

# Fit the model according to the training variables
model.fit(x_train, y_train)
y_pred_train = model.predict(x_train)

# Test the fitted model by using the testing variables
y_pred_test = model.predict(x_test)

## PART 5 -- Get the model's coefficients and intercept.

In [0]:
print('Intercept', model.intercept_)
coefficients = pd.Series(model.coef_, features)
print(coefficients.to_string())

Intercept 998.1946341143803
total_rooms    767.956623
perk_count     101.764352

## PART 6 -- Get regression metrics RMSE, MAE, and  ùëÖ2 , for both the train and test data.

In [0]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

# Calcuate the root mean squared error (RMSE) for both the training and testing models
rmse_train = np.sqrt(mean_squared_error(y_train, y_pred_train))
rmse_test = np.sqrt(mean_squared_error(y_test, y_pred_test))
print(f'Training Root Mean Squared (RMSE) Error = {rmse_train} \nTesting Root Mean Squared (RMSE) Error = {rmse_test} \n')

# Calculate the mean absolute error for both the training model and the testing model
mae_train = mean_absolute_error(y_train, y_pred_train)
mae_test = mean_absolute_error(y_test, y_pred_test)
print(f'Training MAE Error = {mae_train} \nTesting MAE Error = {mae_test} \n')

# Caclulate the mean squared error (R^2) for both the training model and the testing model
r2_train = r2_score(y_train, y_pred_train)
r2_test = r2_score(y_test, y_pred_test)
print(f'Training Mean-Squared (R2) Error = {r2_train} \nTesting Mean-Squared (R2) Error = {r2_test}')

Training Root Mean Squared (RMSE) Error = 1295.7149658677172
Testing Root Mean Squared (RMSE) Error = 1293.2257015977382

Training MAE Error = 856.6168448694106
Testing MAE Error = 867.9967359241994

Training Mean-Squared (R2) Error = 0.45930369872329946
Testing Mean-Squared (R2) Error = 0.46189791795456303

## PART 7 -- What's the best test MAE you can get? Share your score and features used with your cohort on Slack!