<a href="https://colab.research.google.com/github/LambdaTheda/DS-Unit-2-Linear-Models/blob/master/Copy_of_pt5_T_mar18_3AM_REGRSS2_unIt2_spr1_mod2_212_assmnt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
pd.set_option('display.max_rows', None)

df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [0]:
df.head(200)

In [0]:
#df

In [0]:
df.shape

In [0]:
# Train/test split. Use data from April & May 2016 to train. 

#ATTEMPT 1: getting error:
'''
File "<ipython-input-24-7a30e2bbb7ec>", line 4
    train.head()
        ^
SyntaxError: invalid syntax
'''
#train = (df[df['created']].dt.year == 2016) & df[df['created'].dt.month == 4 | df[df['created'].dt.month == 5]

In [0]:
#train = (df[df['created']].dt.year == 2016) & df[df['created'].dt.month == 4 | df[df['created'].dt.month == 5]

In [0]:
#ATTEMPT 2: WORKED using isin(), NOW DOESN't @!$#
'''
train = df[(df['created'].dt.year == 2016) & (df['created'].dt.month.isin([4, 5]))]
train.shape
'''

In [0]:
df['created'].value_counts()
print(df)

In [0]:
#ATTEMPT 3: Parsing out only YEAR from df['created']-
df['created'] = pd.to_datetime(df['created']) #dot notation: df['created'] = pd.to_datetime(df.created); from https://www.youtube.com/watch?v=yCgJGsg0Xa4
df['year'] = df['created'].dt.year
df['year']

In [0]:
#temp df for making train set from df with df['created'].dt.year == 2016
df_train_yr = df[(df['year'] == 2016)]
df_train_yr.head(200)

     bathrooms  bedrooms  ... common_outdoor_space  year
0          1.5         3  ...                    0  2016
1          1.0         2  ...                    0  2016
2          1.0         1  ...                    0  2016
3          1.0         1  ...                    0  2016
4          1.0         4  ...                    0  2016
5          2.0         4  ...                    0  2016
6          1.0         2  ...                    0  2016
7          2.0         1  ...                    0  2016
8          1.0         1  ...                    0  2016
9          2.0         4  ...                    0  2016
10         1.0         0  ...                    0  2016
11         1.0         1  ...                    0  2016
12         1.0         2  ...                    0  2016
13         2.0         2  ...                    0  2016
14         1.0         1  ...                    0  2016
15         1.0         0  ...                    0  2016
16         1.0         2  ...                    0  2016
17         1.0         1  ...                    0  2016
18         1.0         4  ...                    0  2016
19         1.0         1  ...                    0  2016
20         1.0         3  ...                    0  2016
21         1.0         2  ...                    0  2016
22         1.0         1  ...                    0  2016
23         1.0         1  ...                    0  2016
24         2.0         4  ...                    0  2016
25         3.5         4  ...                    0  2016
26         1.0         1  ...                    0  2016
27         1.0         1  ...                    0  2016
29         2.0         2  ...                    0  2016
30         1.0         0  ...                    0  2016
31         1.0         2  ...                    0  2016
32         1.0         1  ...                    0  2016
33         1.0         2  ...                    0  2016
34         1.0         2  ...                    0  2016
35         1.0         1  ...                    0  2016
37         1.0         0  ...                    0  2016
38         2.0         2  ...                    0  2016
39         1.0         0  ...                    0  2016
40         1.0         3  ...                    0  2016
41         3.0         4  ...                    0  2016
42         1.0         0  ...                    0  2016
43         1.0         0  ...                    0  2016
44         1.0         1  ...                    0  2016
45         1.0         1  ...                    0  2016
46         1.0         0  ...                    0  2016
47         1.0         2  ...                    0  2016
48         1.0         1  ...                    0  2016
49         1.0         2  ...                    1  2016
50         1.0         1  ...                    0  2016
51         1.0         1  ...                    0  2016
52         1.0         0  ...                    0  2016
53         1.0         1  ...                    0  2016
54         1.0         0  ...                    0  2016
55         2.0         2  ...                    0  2016
56         1.0         2  ...                    0  2016
57         1.0         0  ...                    0  2016
58         1.0         3  ...                    1  2016
59         1.0         1  ...                    0  2016
60         1.0         2  ...                    0  2016
61         1.0         1  ...                    0  2016
62         1.0         0  ...                    0  2016
63         1.0         2  ...                    0  2016
64         1.0         1  ...                    0  2016
65         1.0         1  ...                    0  2016
66         1.0         1  ...                    0  2016
67         1.0         1  ...                    0  2016
68         2.0         2  ...                    0  2016
69         1.0         2  ...                    0  2016
70         1.0         1  ...                    0  2016
71         1.0         2  ...                    0  2016
72         2.0         3  ...                    0  2016
73         1.0         1  ...                    0  2016
74         2.0         2  ...                    0  2016
75         2.0         2  ...                    0  2016
76         2.0         2  ...                    0  2016
77         1.0         2  ...                    0  2016
78         1.0         0  ...                    0  2016
79         1.0         1  ...                    0  2016
80         1.0         1  ...                    0  2016
81         1.0         1  ...                    0  2016
82         1.0         0  ...                    0  2016
83         1.0         3  ...                    0  2016
84         1.0         2  ...                    0  2016
85         3.5         4  ...                    0  2016
86         1.0         2  ...                    0  2016
87         1.0         0  ...                    0  2016
88         1.0         2  ...                    0  2016
89         1.0         1  ...                    0  2016
90         1.0         0  ...                    0  2016
91         1.0         1  ...                    0  2016
92         2.0         3  ...                    0  2016
93         1.0         3  ...                    0  2016
94         1.0         2  ...                    0  2016
95         1.0         2  ...                    0  2016
96         1.0         2  ...                    0  2016
97         1.0         3  ...                    0  2016
98         2.0         3  ...                    0  2016
99         1.0         1  ...                    0  2016
100        1.0         2  ...                    0  2016
101        2.0         2  ...                    0  2016
102        1.0         1  ...                    0  2016
103        1.0         1  ...                    0  2016
104        1.0         1  ...                    0  2016
105        1.0         2  ...                    0  2016
106        1.0         0  ...                    0  2016
107        1.0         1  ...                    0  2016
108        1.0         1  ...                    0  2016
109        1.0         1  ...                    1  2016
110        1.0         2  ...                    0  2016
111        1.5         2  ...                    0  2016
112        2.0         2  ...                    0  2016
113        2.0         2  ...                    0  2016
114        1.0         2  ...                    0  2016
115        1.0         1  ...                    0  2016
116        1.0         2  ...                    0  2016
117        1.0         1  ...                    0  2016
118        2.0         2  ...                    0  2016
119        1.0         1  ...                    0  2016
120        2.0         4  ...                    0  2016
121        1.0         1  ...                    0  2016
122        2.0         4  ...                    0  2016
123        1.0         0  ...                    0  2016
124        1.0         2  ...                    0  2016
125        1.0         1  ...                    0  2016
126        1.0         0  ...                    0  2016
127        2.0         3  ...                    0  2016
128        1.0         2  ...                    0  2016
129        1.0         0  ...                    1  2016
130        1.0         3  ...                    0  2016
131        1.0         2  ...                    0  2016
132        1.0         3  ...                    0  2016
133        1.0         0  ...                    0  2016
134        1.0         1  ...                    0  2016
135        1.0         3  ...                    0  2016
136        1.0         1  ...                    0  2016
137        1.0         2  ...                    0  2016
138        2.0         2  ...                    0  2016
139        1.0         0  ...                    0  2016
140        2.0         3  ...                    0  2016
141        2.0         1  ...                    0  2016
142        1.0         1  ...                    0  2016
143        1.0         0  ...                    0  2016
144        1.0         0  ...                    0  2016
145        1.0         1  ...                    0  2016
146        1.0         2  ...                    0  2016
147        1.0         1  ...                    0  2016
148        1.0         1  ...                    0  2016
149        1.0         3  ...                    0  2016
150        1.0         0  ...                    0  2016
151        1.0         1  ...                    0  2016
152        1.0         1  ...                    0  2016
153        1.0         1  ...                    0  2016
154        2.0         3  ...                    0  2016
155        1.0         2  ...                    0  2016
156        1.0         1  ...                    0  2016
157        2.0         3  ...                    0  2016
158        2.0         3  ...                    0  2016
160        2.0         2  ...                    0  2016
161        2.0         4  ...                    0  2016
162        1.0         0  ...                    0  2016
163        1.0         0  ...                    0  2016
164        1.0         1  ...                    0  2016
165        2.0         3  ...                    0  2016
166        2.0         2  ...                    0  2016
167        1.0         3  ...                    0  2016
168        1.0         2  ...                    0  2016
169        1.0         1  ...                    0  2016
170        1.0         1  ...                    0  2016
171        1.0         1  ...                    0  2016
172        2.0         2  ...                    0  2016
173        2.0         3  ...                    0  2016
174        1.0         1  ...                    0  2016
175        2.0         2  ...                    0  2016
176        1.0         2  ...                    0  2016
177        1.0         3  ...                    0  2016
178        1.0         1  ...                    0  2016
179        1.0         0  ...                    0  2016
180        1.0         0  ...                    0  2016
181        1.0         1  ...                    0  2016
182        1.0         1  ...                    0  2016
183        1.0         2  ...                    0  2016
184        1.0         1  ...                    0  2016
185        1.0         1  ...                    0  2016
186        1.0         1  ...                    0  2016
187        1.0         1  ...                    0  2016
188        1.0         2  ...                    0  2016
189        1.0         1  ...                    0  2016
190        1.0         2  ...                    0  2016
191        1.0         3  ...                    0  2016
192        1.0         3  ...                    0  2016
193        1.0         1  ...                    1  2016
194        1.0         1  ...                    0  2016
195        1.0         2  ...                    0  2016
196        1.0         1  ...                    0  2016
197        1.0         2  ...                    0  2016
198        2.0         3  ...                    0  2016
199        1.0         2  ...                    0  2016
200        1.0         1  ...                    0  2016
201        1.0         1  ...                    0  2016
202        2.0         3  ...                    0  2016

[200 rows x 35 columns]

In [0]:
#filter df_train_yr for April and May rows
df_train_months = df_train_yr[df_train_yr['created'].dt.month.isin([4, 5])]  #df[(df['year'] == 2016)]
df_train_months.head(200)

     bathrooms  bedrooms  ... common_outdoor_space  year
2          1.0         1  ...                    0  2016
3          1.0         1  ...                    0  2016
4          1.0         4  ...                    0  2016
5          2.0         4  ...                    0  2016
6          1.0         2  ...                    0  2016
7          2.0         1  ...                    0  2016
8          1.0         1  ...                    0  2016
9          2.0         4  ...                    0  2016
10         1.0         0  ...                    0  2016
12         1.0         2  ...                    0  2016
13         2.0         2  ...                    0  2016
15         1.0         0  ...                    0  2016
16         1.0         2  ...                    0  2016
17         1.0         1  ...                    0  2016
18         1.0         4  ...                    0  2016
19         1.0         1  ...                    0  2016
20         1.0         3  ...                    0  2016
21         1.0         2  ...                    0  2016
22         1.0         1  ...                    0  2016
23         1.0         1  ...                    0  2016
25         3.5         4  ...                    0  2016
26         1.0         1  ...                    0  2016
27         1.0         1  ...                    0  2016
29         2.0         2  ...                    0  2016
30         1.0         0  ...                    0  2016
31         1.0         2  ...                    0  2016
32         1.0         1  ...                    0  2016
33         1.0         2  ...                    0  2016
35         1.0         1  ...                    0  2016
37         1.0         0  ...                    0  2016
38         2.0         2  ...                    0  2016
40         1.0         3  ...                    0  2016
41         3.0         4  ...                    0  2016
42         1.0         0  ...                    0  2016
43         1.0         0  ...                    0  2016
44         1.0         1  ...                    0  2016
45         1.0         1  ...                    0  2016
46         1.0         0  ...                    0  2016
47         1.0         2  ...                    0  2016
49         1.0         2  ...                    1  2016
50         1.0         1  ...                    0  2016
51         1.0         1  ...                    0  2016
52         1.0         0  ...                    0  2016
53         1.0         1  ...                    0  2016
54         1.0         0  ...                    0  2016
55         2.0         2  ...                    0  2016
56         1.0         2  ...                    0  2016
57         1.0         0  ...                    0  2016
58         1.0         3  ...                    1  2016
60         1.0         2  ...                    0  2016
61         1.0         1  ...                    0  2016
62         1.0         0  ...                    0  2016
63         1.0         2  ...                    0  2016
64         1.0         1  ...                    0  2016
65         1.0         1  ...                    0  2016
66         1.0         1  ...                    0  2016
67         1.0         1  ...                    0  2016
68         2.0         2  ...                    0  2016
69         1.0         2  ...                    0  2016
70         1.0         1  ...                    0  2016
71         1.0         2  ...                    0  2016
72         2.0         3  ...                    0  2016
73         1.0         1  ...                    0  2016
74         2.0         2  ...                    0  2016
75         2.0         2  ...                    0  2016
76         2.0         2  ...                    0  2016
77         1.0         2  ...                    0  2016
78         1.0         0  ...                    0  2016
79         1.0         1  ...                    0  2016
80         1.0         1  ...                    0  2016
81         1.0         1  ...                    0  2016
84         1.0         2  ...                    0  2016
85         3.5         4  ...                    0  2016
86         1.0         2  ...                    0  2016
87         1.0         0  ...                    0  2016
88         1.0         2  ...                    0  2016
90         1.0         0  ...                    0  2016
91         1.0         1  ...                    0  2016
92         2.0         3  ...                    0  2016
93         1.0         3  ...                    0  2016
94         1.0         2  ...                    0  2016
95         1.0         2  ...                    0  2016
96         1.0         2  ...                    0  2016
97         1.0         3  ...                    0  2016
98         2.0         3  ...                    0  2016
99         1.0         1  ...                    0  2016
100        1.0         2  ...                    0  2016
101        2.0         2  ...                    0  2016
102        1.0         1  ...                    0  2016
103        1.0         1  ...                    0  2016
104        1.0         1  ...                    0  2016
105        1.0         2  ...                    0  2016
106        1.0         0  ...                    0  2016
107        1.0         1  ...                    0  2016
108        1.0         1  ...                    0  2016
109        1.0         1  ...                    1  2016
110        1.0         2  ...                    0  2016
111        1.5         2  ...                    0  2016
112        2.0         2  ...                    0  2016
113        2.0         2  ...                    0  2016
114        1.0         2  ...                    0  2016
115        1.0         1  ...                    0  2016
116        1.0         2  ...                    0  2016
117        1.0         1  ...                    0  2016
118        2.0         2  ...                    0  2016
119        1.0         1  ...                    0  2016
120        2.0         4  ...                    0  2016
121        1.0         1  ...                    0  2016
122        2.0         4  ...                    0  2016
123        1.0         0  ...                    0  2016
124        1.0         2  ...                    0  2016
125        1.0         1  ...                    0  2016
126        1.0         0  ...                    0  2016
127        2.0         3  ...                    0  2016
128        1.0         2  ...                    0  2016
129        1.0         0  ...                    1  2016
130        1.0         3  ...                    0  2016
132        1.0         3  ...                    0  2016
133        1.0         0  ...                    0  2016
134        1.0         1  ...                    0  2016
136        1.0         1  ...                    0  2016
137        1.0         2  ...                    0  2016
138        2.0         2  ...                    0  2016
139        1.0         0  ...                    0  2016
140        2.0         3  ...                    0  2016
141        2.0         1  ...                    0  2016
142        1.0         1  ...                    0  2016
143        1.0         0  ...                    0  2016
144        1.0         0  ...                    0  2016
145        1.0         1  ...                    0  2016
146        1.0         2  ...                    0  2016
147        1.0         1  ...                    0  2016
148        1.0         1  ...                    0  2016
149        1.0         3  ...                    0  2016
151        1.0         1  ...                    0  2016
152        1.0         1  ...                    0  2016
153        1.0         1  ...                    0  2016
154        2.0         3  ...                    0  2016
155        1.0         2  ...                    0  2016
157        2.0         3  ...                    0  2016
158        2.0         3  ...                    0  2016
160        2.0         2  ...                    0  2016
161        2.0         4  ...                    0  2016
162        1.0         0  ...                    0  2016
163        1.0         0  ...                    0  2016
164        1.0         1  ...                    0  2016
166        2.0         2  ...                    0  2016
167        1.0         3  ...                    0  2016
168        1.0         2  ...                    0  2016
169        1.0         1  ...                    0  2016
170        1.0         1  ...                    0  2016
171        1.0         1  ...                    0  2016
172        2.0         2  ...                    0  2016
173        2.0         3  ...                    0  2016
174        1.0         1  ...                    0  2016
175        2.0         2  ...                    0  2016
176        1.0         2  ...                    0  2016
177        1.0         3  ...                    0  2016
180        1.0         0  ...                    0  2016
181        1.0         1  ...                    0  2016
182        1.0         1  ...                    0  2016
183        1.0         2  ...                    0  2016
184        1.0         1  ...                    0  2016
185        1.0         1  ...                    0  2016
186        1.0         1  ...                    0  2016
187        1.0         1  ...                    0  2016
188        1.0         2  ...                    0  2016
189        1.0         1  ...                    0  2016
190        1.0         2  ...                    0  2016
191        1.0         3  ...                    0  2016
192        1.0         3  ...                    0  2016
193        1.0         1  ...                    1  2016
194        1.0         1  ...                    0  2016
195        1.0         2  ...                    0  2016
196        1.0         1  ...                    0  2016
197        1.0         2  ...                    0  2016
198        2.0         3  ...                    0  2016
199        1.0         2  ...                    0  2016
200        1.0         1  ...                    0  2016
201        1.0         1  ...                    0  2016
203        1.0         1  ...                    0  2016
204        1.0         2  ...                    1  2016
205        2.5         3  ...                    0  2016
206        1.0         2  ...                    0  2016
207        2.0         3  ...                    0  2016
208        1.0         2  ...                    0  2016
209        1.0         4  ...                    0  2016
210        1.0         1  ...                    0  2016
211        1.0         1  ...                    0  2016
212        1.5         3  ...                    0  2016
213        1.0         3  ...                    0  2016
214        1.0         3  ...                    0  2016
215        1.0         1  ...                    0  2016
216        1.0         0  ...                    0  2016
217        1.0         2  ...                    0  2016
218        1.0         2  ...                    0  2016
220        1.0         0  ...                    0  2016
221        1.0         1  ...                    0  2016
222        1.0         0  ...                    0  2016
223        1.0         2  ...                    0  2016

[200 rows x 35 columns]

In [0]:
#df.loc[df['created'].dt.year == 2016]

In [0]:
# Use data from June 2016 to test
#test = df[(df['created'].dt.year == 2016) & (df['created'].dt.month == 'June')]
'''
test = df[(df['created'].dt.month == 'June')]

test.shape
'''

In [0]:
#df.iloc[lambda df: df['created']  == 2016]

In [0]:
#df.iloc[lambda df: df.created == 2016] #df.iloc[lambda x: x.index % 2 == 0] from https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html

In [0]:
#train = df[(df['created'].dt.year == 2016) & (df['created'].dt.month.isin([4, 5]))]

In [0]:
train.sample(500)

In [0]:
# ATTEMPT 2: Parsing out only YEAR from df['created']
df['created'] = pd.to_datetime(df['created'])               

df['created']