<a href="https://colab.research.google.com/github/LambdaTheda/DS-Unit-2-Linear-Models/blob/master/Unit_2_TEST_1_11pm(a)_jan26_DS_Sprint_Challenge_Linear_Models_copy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science, Unit 2_
 
# Linear Models Sprint Challenge

To demonstrate mastery on your Sprint Challenge, do all the required, numbered instructions in this notebook.

To earn a score of "3", also do all the stretch goals.

You are permitted and encouraged to do as much data exploration as you want.

### Part 1, Classification
- 1.1. Do train/test split. Arrange data into X features matrix and y target vector
- 1.2. Use scikit-learn to fit a logistic regression model
- 1.3. Report classification metric: accuracy

### Part 2, Regression
- 2.1. Begin with baselines for regression
- 2.2. Do train/validate/test split
- 2.3. Arrange data into X features matrix and y target vector
- 2.4. Do one-hot encoding
- 2.5. Use scikit-learn to fit a linear regression or ridge regression model
- 2.6. Report validation MAE and $R^2$

### Stretch Goals, Regression
- Make at least 2 visualizations to explore relationships between features and target. You may use any visualization library
- Try at least 3 feature combinations. You may select features manually, or automatically
- Report validation MAE and $R^2$ for each feature combination you try
- Report test MAE and $R^2$ for your final model
- Print or plot the coefficients for the features in your model

In [0]:
# If you're in Colab...
import sys
if 'google.colab' in sys.modules:
    !pip install category_encoders==2.*
    !pip install pandas-profiling==2.*
    !pip install plotly==4.*

# Part 1, Classification: Predict Blood Donations üöë
Our dataset is from a mobile blood donation vehicle in Taiwan. The Blood Transfusion Service Center drives to different universities and collects blood as part of a blood drive.

The goal is to predict whether the donor made a donation in March 2007, using information about each donor's history.

Good data-driven systems for tracking and predicting donations and supply needs can improve the entire supply chain, making sure that more patients get the blood transfusions they need.

In [0]:
import pandas as pd

donors = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/blood-transfusion/transfusion.data')
assert donors.shape == (748,5)

donors = donors.rename(columns={
    'Recency (months)': 'months_since_last_donation', 
    'Frequency (times)': 'number_of_donations', 
    'Monetary (c.c. blood)': 'total_volume_donated', 
    'Time (months)': 'months_since_first_donation', 
    'whether he/she donated blood in March 2007': 'made_donation_in_march_2007'
})

Notice that the majority class (did not donate blood in March 2007) occurs about 3/4 of the time. 

This is the accuracy score for the "majority class baseline" (the accuracy score we'd get by just guessing the majority class every time).

In [0]:
donors['made_donation_in_march_2007'].value_counts(normalize=True)

0    0.762032
1    0.237968
Name: made_donation_in_march_2007, dtype: float64

In [0]:
#explore data
donors.describe()

NameError: ignored

In [0]:
donors.shape

(748, 5)

In [0]:
#change dataset name & look at 1st 5 rows
df = donors 
df.head()

   months_since_last_donation  ...  made_donation_in_march_2007
0                           2  ...                            1
1                           0  ...                            1
2                           1  ...                            1
3                           2  ...                            1
4                           1  ...                            0

[5 rows x 5 columns]

## 1.1. Do train/test split. Arrange data into X features matrix and y target vector

Do these steps in either order.

Use scikit-learn's train/test split function to split randomly. (You can include 75% of the data in the train set, and hold out 25% for the test set, which is the default.)

In [0]:
#1.1
#Use scikit-learn's train/test split function to split randomly.
#(You can include 75% of the data in the train set, and hold out 25% for the test set, which is the default.)
'''
target = 'made_donation_in_march_2007'
features = train.columes.drop([target])

X_train = train[features]
y_train[] = train[made_donation_in_march_2007]

X_test = test[features]
y_test = test[made_donation_in_march_2007]
'''

from sklearn.model_selection import train_test_split

X = df.drop(columns='made_donation_in_march_2007')
y = df.made_donation_in_march_2007
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=43)

#(You can include 75% of the data in the train set, and hold out 25% for the test set, which is the default.)
train_test_split(X, y, random_state=43, train_size=0.75)

[     months_since_last_donation  ...  months_since_first_donation
 699                          21  ...                           21
 202                           6  ...                           11
 636                           4  ...                           58
 549                           4  ...                           32
 550                           4  ...                           16
 ..                          ...  ...                          ...
 16                            2  ...                           48
 58                            2  ...                           81
 277                           4  ...                           34
 255                           2  ...                           35
 320                          15  ...                           82

 [561 rows x 4 columns],
      months_since_last_donation  ...  months_since_first_donation
 349                          11  ...                           11
 210                           4  ...                            4
 11                            0  ...                            4
 567                           4  ...                           55
 143                           4  ...                           16
 ..                          ...  ...                          ...
 1                             0  ...                           28
 409                          16  ...                           16
 389                          14  ...                           73
 121                           4  ...                           26
 694                          14  ...                           14

 [187 rows x 4 columns],
 699    0
 202    1
 636    0
 549    1
 550    0
       ..
 16     1
 58     0
 277    0
 255    0
 320    0
 Name: made_donation_in_march_2007, Length: 561, dtype: int64,
 349    0
 210    0
 11     0
 567    0
 143    0
       ..
 1      1
 409    0
 389    0
 121    1
 694    0
 Name: made_donation_in_march_2007, Length: 187, dtype: int64]

## 1.2. Use scikit-learn to fit a logistic regression model

You may use any number of features

In [0]:
#1.2 
import category_encoders as ce
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

target = 'made_donation_in_march_2007'
features = df.columns.drop([target])
                              
X_val = X_test
y_val = y_test
print(X_train.shape, X_val.shape)

encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)
print(X_train_encoded.shape, X_val_encoded.shape)

imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train_encoded)
X_val_imputed = imputer.transform(X_val_encoded)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)

model = LogisticRegressionCV(cv=5, n_jobs=-1, random_state=42)
model.fit(X_train_scaled, y_train)

(561, 4) (187, 4)
(561, 4) (187, 4)

LogisticRegressionCV(Cs=10, class_weight=None, cv=5, dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=100, multi_class='auto', n_jobs=-1, penalty='l2',
                     random_state=42, refit=True, scoring=None, solver='lbfgs',
                     tol=0.0001, verbose=0)

## 1.3. Report classification metric: accuracy

What is your model's accuracy on the test set?

Don't worry if your model doesn't beat the majority class baseline. That's okay!

_"The combination of some data and an aching desire for an answer does not ensure that a reasonable answer can be extracted from a given body of data."_ ‚Äî[John Tukey](https://en.wikiquote.org/wiki/John_Tukey)

(Also, if we used recall score instead of accuracy score, then your model would almost certainly beat the baseline. We'll discuss how to choose and interpret evaluation metrics throughout this unit.)

In [0]:
print('Validation Accuracy', model.score(X_val_scaled, y_val))

Validation Accuracy 0.8021390374331551

# Part 2, Regression: Predict home prices in Ames, Iowa üè†

You'll use historical housing data. ***There's a data dictionary at the bottom of the notebook.*** 

Run this code cell to load the dataset:

In [0]:
import pandas as pd
URL = 'https://drive.google.com/uc?export=download&id=1522WlEW6HFss36roD_Cd9nybqSuiVcCK'
homes = pd.read_csv(URL)
assert homes.shape == (2904, 47)

## 2.1. Begin with baselines

What is the Mean Absolute Error and R^2 score for a mean baseline? (You can get these estimated scores using all your data, before splitting it.)

In [0]:
df = homes
df.describe()

        1st_Flr_SF  Bedroom_AbvGr  ...  Year_Remod/Add      Yr_Sold
count  2904.000000    2904.000000  ...     2904.000000  2904.000000
mean   1158.257231       2.854339  ...     1984.112259  2007.792011
std     388.351648       0.827820  ...       20.857813     1.318719
min     334.000000       0.000000  ...     1950.000000  2006.000000
25%     876.750000       2.000000  ...     1965.000000  2007.000000
50%    1083.500000       3.000000  ...     1993.000000  2008.000000
75%    1383.000000       3.000000  ...     2004.000000  2009.000000
max    5095.000000       8.000000  ...     2010.000000  2010.000000

[8 rows x 18 columns]

In [0]:
df.shape

In [0]:
df.head()

   1st_Flr_SF  Bedroom_AbvGr Bldg_Type  ...  Year_Built  Year_Remod/Add Yr_Sold
0        1656              3      1Fam  ...        1960            1960    2010
1         896              2      1Fam  ...        1961            1961    2010
2        1329              3      1Fam  ...        1958            1958    2010
3        2110              3      1Fam  ...        1968            1968    2010
4         928              3      1Fam  ...        1997            1998    2010

[5 rows x 47 columns]

In [0]:
df

      1st_Flr_SF  Bedroom_AbvGr  ... Year_Remod/Add                       Yr_Sold
0           1656              3  ...           1960 1970-01-01 00:00:00.000002010
1            896              2  ...           1961 1970-01-01 00:00:00.000002010
2           1329              3  ...           1958 1970-01-01 00:00:00.000002010
3           2110              3  ...           1968 1970-01-01 00:00:00.000002010
4            928              3  ...           1998 1970-01-01 00:00:00.000002010
...          ...            ...  ...            ...                           ...
2899        1003              3  ...           1984 1970-01-01 00:00:00.000002006
2900         902              2  ...           1983 1970-01-01 00:00:00.000002006
2901         970              3  ...           1992 1970-01-01 00:00:00.000002006
2902        1389              2  ...           1975 1970-01-01 00:00:00.000002006
2903         996              3  ...           1994 1970-01-01 00:00:00.000002006

[2904 rows x 47 columns]

In [0]:
# Common Regression baseline model: guessing the mean for every sample
# Common Classification baseline model: guessing the most common category for every sample
guess = df['SalePrice'].mean()
errors = guess - df['SalePrice']
errors

0      -34616.310262
1       75383.689738
2        8383.689738
3      -63616.310262
4       -9516.310262
            ...
2899    37883.689738
2900    49383.689738
2901    48383.689738
2902    10383.689738
2903    -7616.310262
Name: SalePrice, Length: 2904, dtype: float64

In [0]:
from sklearn.metrics import mean_absolute_error, r2_score

'''
https://scikit-learn.org/stable/modules/model_evaluation.html#r2-score DOCUMENTATION:

The r2_score function computes the coefficient of determination, usually denoted as R¬≤.

It represents the proportion of variance (of y) that has been explained by the independent variables in the model. It provides an indication of goodness of fit and therefore a measure of how well unseen samples are likely to be predicted by the model, through the proportion of explained variance.

As such variance is dataset dependent, R¬≤ may not be meaningfully comparable across different datasets. Best possible score is 1.0 and it can be negative (because the model can be arbitrarily worse). A constant model that always predicts the expected value of y, disregarding the input features, would get a R¬≤ score of 0.0.
'''
#MAE
mean_absolute_error = errors.abs().mean

In [0]:

'''
print
print(f'If we just guessed every Ames, Iowa home sold for ${guess:,.0f},')
print(f'we would be off by ${int(mean_absolute_error)} on average.')

'''

In [0]:
#R^2 Score
r2_score(homes['SalePrice'], errors)

In [0]:

# Drop some high cardinality categoricals
'''
df['1st_Flr_SF', 'Bedroom_AbvGr', 'Bldg_Type', 'Bsmt_Full_Bath',
       'Bsmt_Half_Bath', 'Central_Air', 'Condition_1', 'Condition_2',
       'Electrical', 'Exter_Cond', 'Exter_Qual', 'Exterior_1st',
       'Exterior_2nd', 'Foundation', 'Full_Bath', 'Functional', 'Gr_Liv_Area',
       'Half_Bath', 'Heating', 'Heating_QC', 'House_Style', 'Kitchen_AbvGr',
       'Kitchen_Qual', 'Land_Contour', 'Land_Slope', 'Lot_Area', 'Lot_Config',
       'Lot_Shape', 'MS_SubClass', 'MS_Zoning', 'Mas_Vnr_Type', 'Mo_Sold',
       'Neighborhood', 'Overall_Cond', 'Overall_Qual', 'Paved_Drive',
       'Roof_Matl', 'Roof_Style', 'SalePrice', 'Sale_Condition', 'Sale_Type',
       'Street', 'TotRms_AbvGrd', 'Utilities', 'Year_Built', 'Year_Remod/Add',
       'Yr_Sold'].describe()
'''

In [0]:
# Drop some columns to prevent "leakage"
#df = df.drop(columns=[])

## 2.2. Do train/validate/test split

Train on houses sold in the years 2006 - 2008. (1,920 rows)

Validate on house sold in 2009. (644 rows)

Test on houses sold in 2010. (340 rows)

In [0]:
# Drop some columns to prevent "leakage"
# df = df.drop(columns=['Rec', 'overall'])

#Filter train data; Train on houses sold in the years 2006 - 2008. (1,920 rows)
#syntax from https://stackoverflow.com/questions/22898824/filtering-pandas-dataframes-on-dates

#Convert Date to DateTime
# df['Yr_Sold'] = pd.to_datetime(df['Yr_Sold'], infer_datetime_format=True, errors='coerce')

#filter df['Yr_Sold']= 2006-2008  Attempt 1: get empty df
'''
train = df[(df['Yr_Sold'] >= '2006') & (df['Yr_Sold'] <= '2008')]
print(train)
'''

"\ntrain = df[(df['Yr_Sold'] >= '2006') & (df['Yr_Sold'] <= '2008')]\nprint(train)\n"

In [0]:
#TRAIN on houses sold in the years 2006 - 2008. (1,920 rows)
#filter df['Yr_Sold']= 2006-2008  Attempt  2: SEEMS TO WORK
df.loc['2006-01-01':'2008-31-12']

      1st_Flr_SF  Bedroom_AbvGr  ... Year_Remod/Add                       Yr_Sold
2007        1664              5  ...           1950 1970-01-01 00:00:00.000002007
2008         933              3  ...           1950 1970-01-01 00:00:00.000002007

[2 rows x 47 columns]

In [0]:
#Filter train data
train = df[df['Yr_Sold'].isin([2006, 2007, 2008])]
train
train.shape

(1920, 47)

In [0]:
#filter df['Yr_Sold']= 2006-2008  Attempt 3
'''
train2006to = df[df['Yr_Sold'] >= '2006']
train2006to

to_train2008 = train2006to[df['Yr_Sold'] <= '2008']
'''

In [0]:
#VALIDATE on house sold in 2009. (644 rows)
#Filter test data
val = df[df['Yr_Sold'] == 2009]
val
val.shape

(644, 47)

In [0]:
#TEST on houses sold in 2010. (340 rows)
#Filter and set aside test data
test = df[df['Yr_Sold']== 2010]
test
test.shape

(340, 47)

## 2.3. Arrange data into X features matrix and y target vector

Select at least one numeric feature and at least one categorical feature.

Otherwise, you may choose whichever features and however many you want.

In [0]:
#Target
target = 'SalePrice'

print(f'Our target is the home\'s {target}.')

Our target is the home's SalePrice.

In [0]:
df.dtypes

1st_Flr_SF                 int64
Bedroom_AbvGr              int64
Bldg_Type                 object
Bsmt_Full_Bath           float64
Bsmt_Half_Bath           float64
Central_Air               object
Condition_1               object
Condition_2               object
Electrical                object
Exter_Cond                object
Exter_Qual                object
Exterior_1st              object
Exterior_2nd              object
Foundation                object
Full_Bath                  int64
Functional                object
Gr_Liv_Area                int64
Half_Bath                  int64
Heating                   object
Heating_QC                object
House_Style               object
Kitchen_AbvGr              int64
Kitchen_Qual              object
Land_Contour              object
Land_Slope                object
Lot_Area                   int64
Lot_Config                object
Lot_Shape                 object
MS_SubClass                int64
MS_Zoning                 object
Mas_Vnr_Type              object
Mo_Sold                    int64
Neighborhood              object
Overall_Cond               int64
Overall_Qual               int64
Paved_Drive               object
Roof_Matl                 object
Roof_Style                object
SalePrice                  int64
Sale_Condition            object
Sale_Type                 object
Street                    object
TotRms_AbvGrd              int64
Utilities                 object
Year_Built                 int64
Year_Remod/Add             int64
Yr_Sold           datetime64[ns]
dtype: object

In [0]:
#Features
feature = ['Bldg_Type']

print(f'I started using {len(feature)} dimension: {feature}.')

I started using 1 dimension: ['Bldg_Type'].

In [0]:
#Set X and Ys
X_train = train[feature]
y_train = train[target]

X_test = test[feature]
y_test = test[target]

X_val = val[feature]
y_val = val[target]
print(f'X_train is {X_train.shape}')

X_train is (1920, 1)

In [0]:
#set X-val & y-val for feature scaling?
X_val = val[feature]
y_val = val[target]
print(f'X_test is {X_test.shape} and y_test is {y_test.shape}')

X_test is (340, 1) and y_test is (340,)

In [0]:
X_train['Bldg_Type'] = X_train['Bldg_Type'].astype('category').cat.codes
X_test['Bldg_Type'] = X_test['Bldg_Type'].astype('category').cat.codes
X_val['Bldg_Type'] = X_val['Bldg_Type'].astype('category').cat.codes

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler

imputer = SimpleImputer(strategy='most_frequent')
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)

# scaler = StandardScaler()
# X_train_scaled = scaler.fit_transform(X_train_imputed)
# X_val_scaled = scaler.transform(X_val_imputed)

# print(X_train_scaled)

In [0]:
#Imputing attempt 2: get ValueError: X has 4 features per sample, expected 1  

'''
imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train_encoded)
X_val_imputed = imputer.transform(X_val_encoded) #get err here: ValueError: X has 4 features per sample, expected 1  
'''

'\nimputer = SimpleImputer()\nX_train_imputed = imputer.fit_transform(X_train_encoded)\nX_val_imputed = imputer.transform(X_val_encoded) #get err here: ValueError: X has 4 features per sample, expected 1  \n'

## 2.4. Do one-hot encoding

Encode your categorical feature(s).

In [0]:
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)

In [0]:

# model = LogisticRegressionCV(cv=5, n_jobs=-1, random_state=42)
# model.fit(X_train_scaled, y_train) # ValueError here: Found input variables with inconsistent numbers of samples: [561, 2]
# print('Validation Accuracy', model.score(X_val_scaled, y_val))

In [0]:
'''
#Attempt 2: using https://www.geeksforgeeks.org/ml-one-hot-encoding-of-datasets-in-python/

# importing one hot encoder from sklearn 
from sklearn.preprocessing import OneHotEncoder 
  
# creating one hot encoder object with categorical feature
onehotencoder = OneHotEncoder(categorical_features = ['Bldg_Type'])  #TypeError here: __init__() got an unexpected keyword argument 'categorical_features'
data = onehotencoder.fit_transform(data).toarray() 
'''

In [0]:
#Attempt 3: using LS_DSPT4_214.ipynb:
import category_encoders as ce
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler

'''
using notes from: https://www.geeksforgeeks.org/ml-one-hot-encoding-of-datasets-in-python/
One Hot Encoding ‚Äì
It refers to splitting the column which contains numerical categorical data to many columns 
depending on the number of categories present in that column. Each column contains ‚Äú0‚Äù or ‚Äú1‚Äù 
corresponding to which column it has been placed.
'''

# Data Dictionary 
target = 'Overall_Cond'
features = ['1st_Flr_SF', 'Bedroom_AbvGr', 'Bldg_Type', 'Bsmt_Full_Bath',
       'Bsmt_Half_Bath', 'Central_Air', 'Condition_1', 'Condition_2',
       'Electrical', 'Exter_Cond', 'Exter_Qual', 'Exterior_1st',
       'Exterior_2nd', 'Foundation', 'Full_Bath', 'Functional', 'Gr_Liv_Area',
       'Half_Bath', 'Heating', 'Heating_QC', 'House_Style', 'Kitchen_AbvGr',
       'Kitchen_Qual', 'Land_Contour', 'Land_Slope', 'Lot_Area', 'Lot_Config',
       'Lot_Shape', 'MS_SubClass', 'MS_Zoning', 'Mas_Vnr_Type', 'Mo_Sold',
       'Neighborhood', 'Overall_Qual', 'Paved_Drive',
       'Roof_Matl', 'Roof_Style', 'SalePrice', 'Sale_Condition', 'Sale_Type',
       'Street', 'TotRms_AbvGrd', 'Utilities', 'Year_Built', 'Year_Remod/Add',
       'Yr_Sold']
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
print(X_train.shape, X_val.shape)

(1920, 46) (644, 46)

In [0]:

encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)
print(X_train_encoded.shape, X_val_encoded.shape)

imputer = SimpleImputer(strategy='mean')
#X_train_imputed = imputer.fit_transform(X_train_encoded) #TypeError here: invalid type promotion
X_val_imputed = imputer.fit_transform(X_val_encoded)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)

(1920, 217) (644, 217)

## 2.5. Use scikit-learn to fit a linear regression or ridge regression model
Fit your model.

In [0]:
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)

In [0]:
# model = LogisticRegressionCV(cv=5, n_jobs=-1, random_state=42)
# model.fit(X_train_scaled, y_train) # ValueError here: Found input variables with inconsistent numbers of samples: [561, 2]
# print('Validation Accuracy', model.score(X_val_scaled, y_val))

In [0]:
'''
#Attempt 2: using https://www.geeksforgeeks.org/ml-one-hot-encoding-of-datasets-in-python/

# importing one hot encoder from sklearn 
from sklearn.preprocessing import OneHotEncoder 
  
# creating one hot encoder object with categorical feature
onehotencoder = OneHotEncoder(categorical_features = ['Bldg_Type'])  #TypeError here: __init__() got an unexpected keyword argument 'categorical_features'
data = onehotencoder.fit_transform(data).toarray() 
'''

In [0]:
#Attempt 3: using LS_DSPT4_214.ipynb:
import category_encoders as ce
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler

'''
using notes from: https://www.geeksforgeeks.org/ml-one-hot-encoding-of-datasets-in-python/
One Hot Encoding ‚Äì
It refers to splitting the column which contains numerical categorical data to many columns 
depending on the number of categories present in that column. Each column contains ‚Äú0‚Äù or ‚Äú1‚Äù 
corresponding to which column it has been placed.
'''

# Data Dictionary 
target = 'Overall_Cond'
features = ['1st_Flr_SF', 'Bedroom_AbvGr', 'Bldg_Type', 'Bsmt_Full_Bath',
       'Bsmt_Half_Bath', 'Central_Air', 'Condition_1', 'Condition_2',
       'Electrical', 'Exter_Cond', 'Exter_Qual', 'Exterior_1st',
       'Exterior_2nd', 'Foundation', 'Full_Bath', 'Functional', 'Gr_Liv_Area',
       'Half_Bath', 'Heating', 'Heating_QC', 'House_Style', 'Kitchen_AbvGr',
       'Kitchen_Qual', 'Land_Contour', 'Land_Slope', 'Lot_Area', 'Lot_Config',
       'Lot_Shape', 'MS_SubClass', 'MS_Zoning', 'Mas_Vnr_Type', 'Mo_Sold',
       'Neighborhood', 'Overall_Qual', 'Paved_Drive',
       'Roof_Matl', 'Roof_Style', 'SalePrice', 'Sale_Condition', 'Sale_Type',
       'Street', 'TotRms_AbvGrd', 'Utilities', 'Year_Built', 'Year_Remod/Add',
       'Yr_Sold']
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
print(X_train.shape, X_val.shape)

ModuleNotFoundError: ignored

In [0]:

encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)
print(X_train_encoded.shape, X_val_encoded.shape)

imputer = SimpleImputer(strategy='mean')
#X_train_imputed = imputer.fit_transform(X_train_encoded) #TypeError here: invalid type promotion
X_val_imputed = imputer.fit_transform(X_val_encoded)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)

NameError: ignored

## 2.6. Report validation MAE and $R^2$

What is your model's Mean Absolute Error and $R^2$ score on the validation set? (You are not graded on how high or low your validation scores are.)

In [0]:
#MAE 
model.errors.abs().mean

NameError: ignored

In [0]:
#R^2 score using https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html

In [0]:
# MAE & R^2; Attempt #2:
features = ['BldgType']


# Assign to X, y
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]

# Stretch Goals, Regression
- Make at least 2 visualizations to explore relationships between features and target. You may use any visualization library
- Try at least 3 feature combinations. You may select features manually, or automatically
- Report validation MAE and $R^2$ for each feature combination you try
- Report test MAE and $R^2$ for your final model
- Print or plot the coefficients for the features in your model

# Data Dictionary 

Here's a description of the data fields:

```
1st_Flr_SF: First Floor square feet

Bedroom_AbvGr: Bedrooms above grade (does NOT include basement bedrooms)

Bldg_Type: Type of dwelling
		
       1Fam	Single-family Detached	
       2FmCon	Two-family Conversion; originally built as one-family dwelling
       Duplx	Duplex
       TwnhsE	Townhouse End Unit
       TwnhsI	Townhouse Inside Unit
       
Bsmt_Half_Bath: Basement half bathrooms

Bsmt_Full_Bath: Basement full bathrooms

Central_Air: Central air conditioning

       N	No
       Y	Yes
		
Condition_1: Proximity to various conditions
	
       Artery	Adjacent to arterial street
       Feedr	Adjacent to feeder street	
       Norm	Normal	
       RRNn	Within 200' of North-South Railroad
       RRAn	Adjacent to North-South Railroad
       PosN	Near positive off-site feature--park, greenbelt, etc.
       PosA	Adjacent to postive off-site feature
       RRNe	Within 200' of East-West Railroad
       RRAe	Adjacent to East-West Railroad
	
Condition_2: Proximity to various conditions (if more than one is present)
		
       Artery	Adjacent to arterial street
       Feedr	Adjacent to feeder street	
       Norm	Normal	
       RRNn	Within 200' of North-South Railroad
       RRAn	Adjacent to North-South Railroad
       PosN	Near positive off-site feature--park, greenbelt, etc.
       PosA	Adjacent to postive off-site feature
       RRNe	Within 200' of East-West Railroad
       RRAe	Adjacent to East-West Railroad
       
 Electrical: Electrical system

       SBrkr	Standard Circuit Breakers & Romex
       FuseA	Fuse Box over 60 AMP and all Romex wiring (Average)	
       FuseF	60 AMP Fuse Box and mostly Romex wiring (Fair)
       FuseP	60 AMP Fuse Box and mostly knob & tube wiring (poor)
       Mix	Mixed
       
 Exter_Cond: Evaluates the present condition of the material on the exterior
		
       Ex	Excellent
       Gd	Good
       TA	Average/Typical
       Fa	Fair
       Po	Poor
 
 Exter_Qual: Evaluates the quality of the material on the exterior 
		
       Ex	Excellent
       Gd	Good
       TA	Average/Typical
       Fa	Fair
       Po	Poor
		
Exterior_1st: Exterior covering on house

       AsbShng	Asbestos Shingles
       AsphShn	Asphalt Shingles
       BrkComm	Brick Common
       BrkFace	Brick Face
       CBlock	Cinder Block
       CemntBd	Cement Board
       HdBoard	Hard Board
       ImStucc	Imitation Stucco
       MetalSd	Metal Siding
       Other	Other
       Plywood	Plywood
       PreCast	PreCast	
       Stone	Stone
       Stucco	Stucco
       VinylSd	Vinyl Siding
       Wd Sdng	Wood Siding
       WdShing	Wood Shingles
	
Exterior_2nd: Exterior covering on house (if more than one material)

       AsbShng	Asbestos Shingles
       AsphShn	Asphalt Shingles
       BrkComm	Brick Common
       BrkFace	Brick Face
       CBlock	Cinder Block
       CemntBd	Cement Board
       HdBoard	Hard Board
       ImStucc	Imitation Stucco
       MetalSd	Metal Siding
       Other	Other
       Plywood	Plywood
       PreCast	PreCast
       Stone	Stone
       Stucco	Stucco
       VinylSd	Vinyl Siding
       Wd Sdng	Wood Siding
       WdShing	Wood Shingles
       
Foundation: Type of foundation
		
       BrkTil	Brick & Tile
       CBlock	Cinder Block
       PConc	Poured Contrete	
       Slab	Slab
       Stone	Stone
       Wood	Wood
		
Full_Bath: Full bathrooms above grade

Functional: Home functionality (Assume typical unless deductions are warranted)

       Typ	Typical Functionality
       Min1	Minor Deductions 1
       Min2	Minor Deductions 2
       Mod	Moderate Deductions
       Maj1	Major Deductions 1
       Maj2	Major Deductions 2
       Sev	Severely Damaged
       Sal	Salvage only
		
Gr_Liv_Area: Above grade (ground) living area square feet
        
Half_Bath: Half baths above grade

Heating: Type of heating
		
       Floor	Floor Furnace
       GasA	Gas forced warm air furnace
       GasW	Gas hot water or steam heat
       Grav	Gravity furnace	
       OthW	Hot water or steam heat other than gas
       Wall	Wall furnace
		
Heating_QC: Heating quality and condition

       Ex	Excellent
       Gd	Good
       TA	Average/Typical
       Fa	Fair
       Po	Poor

House_Style: Style of dwelling
	
       1Story	One story
       1.5Fin	One and one-half story: 2nd level finished
       1.5Unf	One and one-half story: 2nd level unfinished
       2Story	Two story
       2.5Fin	Two and one-half story: 2nd level finished
       2.5Unf	Two and one-half story: 2nd level unfinished
       SFoyer	Split Foyer
       SLvl	Split Level

Kitchen_AbvGr: Kitchens above grade

Kitchen_Qual: Kitchen quality

       Ex	Excellent
       Gd	Good
       TA	Typical/Average
       Fa	Fair
       Po	Poor

LandContour: Flatness of the property

       Lvl	Near Flat/Level	
       Bnk	Banked - Quick and significant rise from street grade to building
       HLS	Hillside - Significant slope from side to side
       Low	Depression
		
Land_Slope: Slope of property
		
       Gtl	Gentle slope
       Mod	Moderate Slope	
       Sev	Severe Slope

Lot_Area: Lot size in square feet

Lot_Config: Lot configuration

       Inside	Inside lot
       Corner	Corner lot
       CulDSac	Cul-de-sac
       FR2	Frontage on 2 sides of property
       FR3	Frontage on 3 sides of property

Lot_Shape: General shape of property

       Reg	Regular	
       IR1	Slightly irregular
       IR2	Moderately Irregular
       IR3	Irregular

MS_SubClass: Identifies the type of dwelling involved in the sale.	

        20	1-STORY 1946 & NEWER ALL STYLES
        30	1-STORY 1945 & OLDER
        40	1-STORY W/FINISHED ATTIC ALL AGES
        45	1-1/2 STORY - UNFINISHED ALL AGES
        50	1-1/2 STORY FINISHED ALL AGES
        60	2-STORY 1946 & NEWER
        70	2-STORY 1945 & OLDER
        75	2-1/2 STORY ALL AGES
        80	SPLIT OR MULTI-LEVEL
        85	SPLIT FOYER
        90	DUPLEX - ALL STYLES AND AGES
       120	1-STORY PUD (Planned Unit Development) - 1946 & NEWER
       150	1-1/2 STORY PUD - ALL AGES
       160	2-STORY PUD - 1946 & NEWER
       180	PUD - MULTILEVEL - INCL SPLIT LEV/FOYER
       190	2 FAMILY CONVERSION - ALL STYLES AND AGES

MS_Zoning: Identifies the general zoning classification of the sale.
		
       A	Agriculture
       C	Commercial
       FV	Floating Village Residential
       I	Industrial
       RH	Residential High Density
       RL	Residential Low Density
       RP	Residential Low Density Park 
       RM	Residential Medium Density

Mas_Vnr_Type: Masonry veneer type

       BrkCmn	Brick Common
       BrkFace	Brick Face
       CBlock	Cinder Block
       None	None
       Stone	Stone

Mo_Sold: Month Sold (MM)

Neighborhood: Physical locations within Ames city limits

       Blmngtn	Bloomington Heights
       Blueste	Bluestem
       BrDale	Briardale
       BrkSide	Brookside
       ClearCr	Clear Creek
       CollgCr	College Creek
       Crawfor	Crawford
       Edwards	Edwards
       Gilbert	Gilbert
       IDOTRR	Iowa DOT and Rail Road
       MeadowV	Meadow Village
       Mitchel	Mitchell
       Names	North Ames
       NoRidge	Northridge
       NPkVill	Northpark Villa
       NridgHt	Northridge Heights
       NWAmes	Northwest Ames
       OldTown	Old Town
       SWISU	South & West of Iowa State University
       Sawyer	Sawyer
       SawyerW	Sawyer West
       Somerst	Somerset
       StoneBr	Stone Brook
       Timber	Timberland
       Veenker	Veenker
			
Overall_Cond: Rates the overall condition of the house

       10	Very Excellent
       9	Excellent
       8	Very Good
       7	Good
       6	Above Average	
       5	Average
       4	Below Average	
       3	Fair
       2	Poor
       1	Very Poor

Overall_Qual: Rates the overall material and finish of the house

       10	Very Excellent
       9	Excellent
       8	Very Good
       7	Good
       6	Above Average
       5	Average
       4	Below Average
       3	Fair
       2	Poor
       1	Very Poor

Paved_Drive: Paved driveway

       Y	Paved 
       P	Partial Pavement
       N	Dirt/Gravel

Roof_Matl: Roof material

       ClyTile	Clay or Tile
       CompShg	Standard (Composite) Shingle
       Membran	Membrane
       Metal	Metal
       Roll	Roll
       Tar&Grv	Gravel & Tar
       WdShake	Wood Shakes
       WdShngl	Wood Shingles

Roof_Style: Type of roof

       Flat	Flat
       Gable	Gable
       Gambrel	Gabrel (Barn)
       Hip	Hip
       Mansard	Mansard
       Shed	Shed

SalePrice: the sales price for each house

Sale_Condition: Condition of sale

       Normal	Normal Sale
       Abnorml	Abnormal Sale -  trade, foreclosure, short sale
       AdjLand	Adjoining Land Purchase
       Alloca	Allocation - two linked properties with separate deeds, typically condo with a garage unit	
       Family	Sale between family members
       Partial	Home was not completed when last assessed (associated with New Homes)

Sale_Type: Type of sale
		
       WD 	Warranty Deed - Conventional
       CWD	Warranty Deed - Cash
       VWD	Warranty Deed - VA Loan
       New	Home just constructed and sold
       COD	Court Officer Deed/Estate
       Con	Contract 15% Down payment regular terms
       ConLw	Contract Low Down payment and low interest
       ConLI	Contract Low Interest
       ConLD	Contract Low Down
       Oth	Other
	
Street: Type of road access to property

       Grvl	Gravel	
       Pave	Paved
       	
TotRms_AbvGrd: Total rooms above grade (does not include bathrooms)

Utilities: Type of utilities available
		
       AllPub	All public Utilities (E,G,W,& S)	
       NoSewr	Electricity, Gas, and Water (Septic Tank)
       NoSeWa	Electricity and Gas Only
       ELO	Electricity only	
	
Year_Built: Original construction date

Year_Remod/Add: Remodel date (same as construction date if no remodeling or additions)
						
Yr_Sold: Year Sold (YYYY)	

```