<a href="https://colab.research.google.com/github/Data-alchemist-mani/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/Copy_of_LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [0]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
df['Months'] = pd.to_datetime(df['created'])

In [0]:
df.head()

   bathrooms  bedrooms  ... common_outdoor_space              Months
0        1.5         3  ...                    0 2016-06-24 07:54:24
1        1.0         2  ...                    0 2016-06-12 12:19:27
2        1.0         1  ...                    0 2016-04-17 03:26:41
3        1.0         1  ...                    0 2016-04-18 02:22:02
4        1.0         4  ...                    0 2016-04-28 01:32:41

[5 rows x 35 columns]

In [0]:
train = df[df['Months'] >= '2016-4-1'], df[df['Months'] >= '2016-5-31']

In [0]:
type(train)

tuple

In [0]:
train

(       bathrooms  bedrooms  ... common_outdoor_space              Months
 0            1.5         3  ...                    0 2016-06-24 07:54:24
 1            1.0         2  ...                    0 2016-06-12 12:19:27
 2            1.0         1  ...                    0 2016-04-17 03:26:41
 3            1.0         1  ...                    0 2016-04-18 02:22:02
 4            1.0         4  ...                    0 2016-04-28 01:32:41
 ...          ...       ...  ...                  ...                 ...
 49347        1.0         2  ...                    0 2016-06-02 05:41:05
 49348        1.0         1  ...                    1 2016-04-04 18:22:34
 49349        1.0         1  ...                    0 2016-04-16 02:13:40
 49350        1.0         0  ...                    0 2016-04-08 02:13:33
 49351        1.0         2  ...                    0 2016-04-12 02:48:07

 [48817 rows x 35 columns],
        bathrooms  bedrooms  ... common_outdoor_space              Months
 0            1.5         3  ...                    0 2016-06-24 07:54:24
 1            1.0         2  ...                    0 2016-06-12 12:19:27
 11           1.0         1  ...                    0 2016-06-03 03:21:22
 14           1.0         1  ...                    0 2016-06-01 03:11:01
 24           2.0         4  ...                    0 2016-06-07 04:39:56
 ...          ...       ...  ...                  ...                 ...
 49305        1.0         2  ...                    0 2016-06-16 04:20:46
 49310        1.0         3  ...                    0 2016-06-21 06:25:35
 49320        1.0         1  ...                    0 2016-06-02 13:24:18
 49332        1.0         2  ...                    0 2016-06-06 01:22:44
 49347        1.0         2  ...                    0 2016-06-02 05:41:05

 [16978 rows x 35 columns])