Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [3]:
df['created'] = pd.to_datetime(df['created'])
df.sort_values(by=['created'], inplace=True)
print(df.shape)
df.tail()

(48817, 34)

       bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
19943        1.0         2  ...                 0                    0
16801        1.0         1  ...                 0                    0
32633        1.0         1  ...                 0                    0
20560        1.0         3  ...                 0                    0
17743        1.0         3  ...                 0                    0

[5 rows x 34 columns]

In [26]:
# df.info()
df.describe(include='all')

           bathrooms      bedrooms  ... amenity_score         rooms
count   48817.000000  48817.000000  ...  48817.000000  48817.000000
unique           NaN           NaN  ...           NaN           NaN
top              NaN           NaN  ...           NaN           NaN
freq             NaN           NaN  ...           NaN           NaN
first            NaN           NaN  ...           NaN           NaN
last             NaN           NaN  ...           NaN           NaN
mean        1.201794      1.537149  ...      3.327693      2.738943
std         0.470711      1.106087  ...      2.898588      1.410930
min         0.000000      0.000000  ...      0.000000      0.000000
25%         1.000000      1.000000  ...      1.000000      2.000000
50%         1.000000      1.000000  ...      3.000000      2.000000
75%         1.000000      2.000000  ...      5.000000      4.000000
max        10.000000      8.000000  ...     15.000000     12.000000

[13 rows x 37 columns]

In [5]:
df.cov()

                       bathrooms  ...  common_outdoor_space
bathrooms               0.221569  ...             -0.000256
bedrooms                0.272862  ...              0.000572
latitude                0.000246  ...             -0.000730
longitude              -0.000273  ...             -0.000475
price                 570.177795  ...              3.244660
elevator                0.031236  ...              0.009171
cats_allowed            0.005050  ...              0.008344
hardwood_floors         0.022790  ...             -0.009621
dogs_allowed            0.005744  ...              0.008431
doorman                 0.036572  ...              0.010012
dishwasher              0.039947  ...             -0.006816
no_fee                  0.029393  ...              0.002330
laundry_in_building    -0.001389  ...              0.021272
fitness_center          0.030942  ...              0.013912
pre-war                -0.002968  ...             -0.004155
laundry_in_unit         0.037522  ...             -0.003715
roof_deck               0.016310  ...             -0.000882
outdoor_space           0.023480  ...              0.022610
dining_room             0.033319  ...             -0.002043
high_speed_internet     0.011829  ...             -0.000752
balcony                 0.015370  ...             -0.001013
swimming_pool           0.012182  ...             -0.000547
new_construction        0.006978  ...             -0.000748
terrace                 0.013908  ...             -0.000884
exclusive              -0.000186  ...              0.001076
loft                    0.001357  ...             -0.000977
garden_patio            0.008810  ...             -0.000827
wheelchair_access       0.005128  ...             -0.000448
common_outdoor_space   -0.000256  ...              0.025553

[29 rows x 29 columns]

### Engineer at least two new features. (See below for explanation & ideas.)

In [0]:
# create a feature for pets: shows what level of pets allowed in apartment
# pet_lvl
# 0 = no pets allowed
# 1 = only cats allowed
# 2 = only dogs allowed
# 3 = only cats and dogs allowed

def plvl(db):
    if db['cats_allowed'] == 0 and db['dogs_allowed'] == 0:
        val = 0
    elif db['cats_allowed'] == 1 and db['dogs_allowed'] == 0:
        val = 1
    elif db['cats_allowed'] == 0 and db['dogs_allowed'] == 1:
        val = 2
    elif db['cats_allowed'] == 1 and db['dogs_allowed'] == 1:
        val = 3
    return val

df['pet_level'] = df.apply(plvl, axis=1)

In [7]:
df['pet_level'].value_counts()

0    25433
3    21816
1     1532
2       36
Name: pet_level, dtype: int64

In [0]:
# Create a feature that scores amenities
# adds 1 to overall score for each amenity
# can have a score of 20

def amen_sco(db):
    amenities = ['elevator', 'hardwood_floors',
                 'doorman', 'dishwasher', 'laundry_in_building',
                 'fitness_center', 'pre-war', 'laundry_in_unit', 'roof_deck',
                 'outdoor_space', 'dining_room', 'high_speed_internet', 'balcony',
                 'swimming_pool', 'terrace', 'exclusive', 'loft',
                 'garden_patio', 'wheelchair_access', 'common_outdoor_space',]
    score = 0
    for amenity in amenities:
        if db[amenity] == 1:
            score = score + 1
    return score

df['amenity_score'] = df.apply(amen_sco, axis=1)

In [0]:
# creates a feature for total rooms in apartments
df['rooms'] = df['bathrooms'] + df['bedrooms']

In [0]:
# dum_mean.score(train, y_train)

###Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.

In [11]:
start_date = '2016-04-01'
end_date = '2016-05-31'
traindate = (df['created'] >= start_date) & (df['created'] <= end_date)
train = df.loc[traindate]
print(train.shape)
train.head()

(31839, 37)

      bathrooms  bedrooms             created  ... pet_level amenity_score  rooms
5186        1.0         1 2016-04-01 22:12:41  ...         0             3    2.0
7945        1.0         0 2016-04-01 22:56:00  ...         3             1    1.0
6424        2.0         3 2016-04-01 22:57:15  ...         3             6    5.0
7719        1.0         1 2016-04-01 23:26:07  ...         3             6    2.0
1723        1.0         1 2016-04-02 00:48:13  ...         3             3    2.0

[5 rows x 37 columns]

In [12]:
start_date = '2016-06-01'
end_date = '2016-06-30'
testdate = (df['created'] >= start_date) & (df['created'] <= end_date)
test = df.loc[testdate]
print(test.shape)
test.head()

(16973, 37)

       bathrooms  bedrooms             created  ... pet_level amenity_score  rooms
11474        1.0         1 2016-06-01 01:10:37  ...         0             1    2.0
19176        1.0         1 2016-06-01 01:11:06  ...         3             1    2.0
16226        1.0         2 2016-06-01 01:11:12  ...         3             1    3.0
37756        1.0         0 2016-06-01 01:11:52  ...         0             1    1.0
17946        1.0         2 2016-06-01 01:12:22  ...         3             1    3.0

[5 rows x 37 columns]

#### Baseline

In [0]:
target = 'price'
y_train = train[target]
y_test = test[target]

In [15]:
# Train Error
guess = y_train.mean()
from sklearn.metrics import mean_absolute_error
base_y_pred = [guess] * len(y_train)
mae = mean_absolute_error(y_train, base_y_pred)
print(f'Baseline currently off by ${mae: ,.2f} for New York apartment rent.')

Baseline currently off by $ 1,201.97 for New York apartment rent.

In [16]:
# Test Error
base_y_pred = [guess] * len(y_test)
mae = mean_absolute_error(y_test, base_y_pred)
print(f'Baseline currently off by ${mae: ,.2f} for New York apartment rent.')

Baseline currently off by $ 1,197.75 for New York apartment rent.

#### **Stretch: Baseline w/ DummyReg**

In [0]:
# I want to learn how to use this more I'm not sure if this would be the correct implementation

# from sklearn.dummy import DummyRegressor
# target = 'price'
# y_train = train[target]
# y_pred = test[target]

# dum_mean = DummyRegressor(strategy='mean')
# dum_mean.fit(train, y_train)
# dum_mean.predict(train)

### Fit a linear regression model with at least two features.

In [18]:
features = ['rooms', 'amenity_score', 'pet_level']

print(f'Linear Regression on {features}')
X_train = train[features]
X_test = test[features]

print(X_train.shape, X_test.shape)

Linear Regression on ['rooms', 'amenity_score', 'pet_level']
(31839, 3) (16973, 3)

In [22]:
from sklearn.linear_model import LinearRegression

# init LinearRegression
model = LinearRegression()

model.fit(X_train, y_train)
y_pred = model.predict(X_train)
mae = mean_absolute_error(y_train, y_pred)
print(f'Multi-Regression: off by ${mae:,.2f} for New York apartment rent.')

Multi-Regression: off by $852.33 for New York apartment rent.

### Get the model's coefficients and intercept.

In [24]:
model.coef_, model.intercept_

(array([766.78668519, 123.41881553,  53.99178266]), 991.5602799984563)

### Get regression metrics RMSE, MAE, and  R2 , for both the train and test data.

### What's the best test MAE you can get? Share your score and features used with your cohort on Slack!

In [0]:
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'Multi-Regression: off by ${mae:,.2f} for New York apartment rent.')

Multi-Regression: off by $862.67 for New York apartment rent.