<a href="https://colab.research.google.com/github/Avery1493/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/Quinn_212_LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [0]:
df.head(5)

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
print(df.shape)
df.describe()

(48817, 34)

          bathrooms      bedrooms  ...  wheelchair_access  common_outdoor_space
count  48817.000000  48817.000000  ...       48817.000000          48817.000000
mean       1.201794      1.537149  ...           0.027224              0.026241
std        0.470711      1.106087  ...           0.162738              0.159852
min        0.000000      0.000000  ...           0.000000              0.000000
25%        1.000000      1.000000  ...           0.000000              0.000000
50%        1.000000      1.000000  ...           0.000000              0.000000
75%        1.000000      2.000000  ...           0.000000              0.000000
max       10.000000      8.000000  ...           1.000000              1.000000

[8 rows x 29 columns]

In [0]:
df.dtypes

bathrooms               float64
bedrooms                  int64
created                  object
description              object
display_address          object
latitude                float64
longitude               float64
price                     int64
street_address           object
interest_level           object
elevator                  int64
cats_allowed              int64
hardwood_floors           int64
dogs_allowed              int64
doorman                   int64
dishwasher                int64
no_fee                    int64
laundry_in_building       int64
fitness_center            int64
pre-war                   int64
laundry_in_unit           int64
roof_deck                 int64
outdoor_space             int64
dining_room               int64
high_speed_internet       int64
balcony                   int64
swimming_pool             int64
new_construction          int64
terrace                   int64
exclusive                 int64
loft                      int64
garden_patio              int64
wheelchair_access         int64
common_outdoor_space      int64
dtype: object

# Engineer new features.

In [0]:
#Interest
df['interest'] = df['interest_level'].replace({'low': 1, 'medium': 2, 'high' : 3})

In [0]:
#Are cats and dogs allowed?
df.loc[(df['cats_allowed'] == 1) & (df['dogs_allowed'] == 1), 'pets'] = 1
df.loc[(df['cats_allowed'] == 0)| (df['dogs_allowed'] == 0), 'pets'] = 0
df.head()

   bathrooms  bedrooms  ... interest pets
0        1.5         3  ...        2  0.0
1        1.0         2  ...        1  1.0
2        1.0         1  ...        3  0.0
3        1.0         1  ...        1  0.0
4        1.0         4  ...        1  0.0

[5 rows x 36 columns]

# Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.

In [0]:
#SPLITTING DATA INTO TRAIN AND TEST
df['created'] = pd.to_datetime(df['created'])
train = df[df['created'].dt.month < 6]
test = df[df['created'].dt.month >= 6]

In [0]:
train.sample(3)

       bathrooms  bedrooms  ... interest pets
44787        1.0         1  ...        1  1.0
24423        0.0         2  ...        1  0.0
3759         1.0         3  ...        2  0.0

[3 rows x 36 columns]

In [0]:
test.sample(3)

       bathrooms  bedrooms  ... interest pets
19534        1.0         2  ...        3  0.0
12106        2.0         4  ...        2  0.0
17663        1.0         3  ...        1  0.0

[3 rows x 36 columns]

# Fit a linear regression model with at least two features.
#Get the model's coefficients and intercept.

In [0]:
#Import estimator class / Instantiate class
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [0]:
#Arrange X features matrices
target = 'price'
features = ['bathrooms', 'bedrooms', 'latitude', 'longitude', 'pets','interest']
y_train = train[target]
y_test = test[target]
X_train = train[features]
X_test = test[features]

In [0]:
#Fit model
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
#Coefficients and intercept
model.coef_ , model.intercept_

(array([  1927.46071247,    453.95612268,   1442.45114218, -15604.35627837,
            75.94204556,   -446.1178721 ]), -1211935.0225305504)

In [0]:
#Predict
y_pred = model.predict(X_train)
y_pred

array([2622.22171975, 3004.12992711, 4180.1382098 , ..., 3436.99231476,
       3219.51261717, 2837.39039022])

In [0]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mse = mean_squared_error(y_train, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_train, y_pred)
r2 = r2_score(y_train, y_pred)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Root Mean Squared Error: 1111.4709893022202
Mean Absolute Error: 712.4319990994923
R^2: 0.6021396028086832

# Get regression metrics RMSE, MAE, and  R2 , for both the train and test data.

In [0]:
#Predict on test data
y_pred = model.predict(X_test)
y_pred

array([3979.59230338, 3577.27574567, 2696.76632451, ..., 3027.21051609,
       3638.01475067, 3171.99770572])

In [0]:
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Root Mean Squared Error: 1093.6383871512649
Mean Absolute Error: 717.1830783802878
R^2: 0.6151747949018352

# What's the best test MAE you can get?

In [0]:
target = 'price'
features = ['bathrooms', 'bedrooms', 'latitude', 'longitude', 'pets','interest',
            'doorman',	'dishwasher',	'no_fee',	'laundry_in_building',
            'fitness_center',	'pre-war', 'laundry_in_unit', 'roof_deck',
            'outdoor_space',	'dining_room',	'high_speed_internet', 'balcony',
            'swimming_pool',	'new_construction',	'terrace',	'exclusive',
            'loft',	'garden_patio',	'wheelchair_access',
            'common_outdoor_space', 'elevator',	'hardwood_floors']
y_train = train[target]
y_test = test[target]
X_train = train[features]
X_test = test[features]

In [0]:
#Predict on train data
model.fit(X_train, y_train)
y_pred = model.predict(X_train)

In [0]:
mse = mean_squared_error(y_train, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_train, y_pred)
r2 = r2_score(y_train, y_pred)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Root Mean Squared Error: 1062.1820486161942
Mean Absolute Error: 673.2609232684173
R^2: 0.6366439770493535

In [0]:
#Predict on test data
model.fit(X_test, y_test)
y_pred = model.predict(X_test)

In [0]:
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Root Mean Squared Error: 1043.1926309745054
Mean Absolute Error: 680.692514289233
R^2: 0.6498573299431055

In [0]:
# This is easier to read
print('Intercept', model.intercept_)
coefficients = pd.Series(model.coef_, features)
print(coefficients.to_string())

Intercept -1014739.7950930495
bathrooms                1765.298777
bedrooms                  494.381629
latitude                 1352.913895
longitude              -12986.909183
pets                       45.789096
interest                 -433.670672
doorman                   459.813232
dishwasher                 47.435870
no_fee                    -91.387110
laundry_in_building      -136.297029
fitness_center            132.105683
pre-war                   -71.675211
laundry_in_unit           364.569207
roof_deck                -179.591146
outdoor_space            -123.575332
dining_room               258.731027
high_speed_internet      -281.490485
balcony                    89.427952
swimming_pool              99.709171
new_construction         -172.507468
terrace                    73.570355
exclusive                  94.342972
loft                      228.903677
garden_patio              245.605298
wheelchair_access         247.805103
common_outdoor_space      -45.535894
elevator                  126.645414
hardwood_floors          -224.731303

In [0]:
df.corr()

                      bathrooms  bedrooms  ...  interest      pets
bathrooms              1.000000  0.524082  ... -0.072246  0.024916
bedrooms               0.524082  1.000000  ...  0.040735 -0.009478
latitude               0.013407  0.003490  ... -0.046203 -0.030764
longitude             -0.020099  0.055117  ...  0.059222 -0.070415
price                  0.687296  0.535503  ... -0.203596  0.060873
elevator               0.132882 -0.024821  ... -0.008542  0.035572
cats_allowed           0.021475 -0.011173  ... -0.057777  0.938812
hardwood_floors        0.096922  0.096420  ...  0.118992 -0.184437
dogs_allowed           0.024539 -0.009750  ... -0.064214  0.998510
doorman                0.157173 -0.047562  ... -0.078467  0.096057
dishwasher             0.172230  0.152102  ...  0.064014 -0.043349
no_fee                 0.129547  0.163000  ...  0.139567 -0.011141
laundry_in_building   -0.013202  0.008558  ...  0.100112  0.091741
fitness_center         0.148334  0.013150  ... -0.042343  0.132161
pre-war               -0.016214  0.001420  ... -0.038278  0.052221
laundry_in_unit        0.209366  0.151790  ...  0.015665  0.003195
roof_deck              0.102113  0.045451  ...  0.014348  0.034568
outdoor_space          0.144450  0.124912  ...  0.071750  0.068106
dining_room            0.233038  0.189415  ...  0.044167 -0.015790
high_speed_internet    0.089073  0.061006  ...  0.041725  0.089898
balcony                0.136990  0.097772  ...  0.027028  0.024679
swimming_pool          0.113315  0.033441  ... -0.001108  0.010035
new_construction       0.066826  0.000907  ...  0.015816  0.056011
terrace                0.140767  0.099149  ...  0.028811  0.005350
exclusive             -0.001944 -0.014880  ...  0.016218  0.032645
loft                   0.014260 -0.107341  ...  0.020238 -0.040707
garden_patio           0.096283  0.070760  ...  0.029311  0.009531
wheelchair_access      0.066940  0.012306  ...  0.011676  0.048378
common_outdoor_space  -0.003403  0.003234  ...  0.029864  0.105816
interest              -0.072246  0.040735  ...  1.000000 -0.065106
pets                   0.024916 -0.009478  ... -0.065106  1.000000

[31 rows x 31 columns]

#Total Features

In [0]:
df['features'] = df.iloc[:,-26:34].sum(axis = 1)
df.head(3)

   bathrooms  bedrooms             created  ... interest pets  features
0        1.5         3 2016-06-24 07:54:24  ...        2  0.0         0
1        1.0         2 2016-06-12 12:19:27  ...        1  1.0         5
2        1.0         1 2016-04-17 03:26:41  ...        3  0.0         3

[3 rows x 37 columns]

In [0]:
df.corr()

                      bathrooms  bedrooms  ...      pets  features
bathrooms              1.000000  0.524082  ...  0.024916  0.238312
bedrooms               0.524082  1.000000  ... -0.009478  0.116616
latitude               0.013407  0.003490  ... -0.030764 -0.068345
longitude             -0.020099  0.055117  ... -0.070415 -0.256118
price                  0.687296  0.535503  ...  0.060873  0.305263
elevator               0.132882 -0.024821  ...  0.035572  0.597606
cats_allowed           0.021475 -0.011173  ...  0.938812  0.317865
hardwood_floors        0.096922  0.096420  ... -0.184437  0.503269
dogs_allowed           0.024539 -0.009750  ...  0.998510  0.325645
doorman                0.157173 -0.047562  ...  0.096057  0.636769
dishwasher             0.172230  0.152102  ... -0.043349  0.620919
no_fee                 0.129547  0.163000  ... -0.011141  0.524557
laundry_in_building   -0.013202  0.008558  ...  0.091741  0.122470
fitness_center         0.148334  0.013150  ...  0.132161  0.643546
pre-war               -0.016214  0.001420  ...  0.052221  0.081139
laundry_in_unit        0.209366  0.151790  ...  0.003195  0.467240
roof_deck              0.102113  0.045451  ...  0.034568  0.574934
outdoor_space          0.144450  0.124912  ...  0.068106  0.499909
dining_room            0.233038  0.189415  ... -0.015790  0.443705
high_speed_internet    0.089073  0.061006  ...  0.089898  0.536651
balcony                0.136990  0.097772  ...  0.024679  0.372661
swimming_pool          0.113315  0.033441  ...  0.010035  0.384810
new_construction       0.066826  0.000907  ...  0.056011  0.416281
terrace                0.140767  0.099149  ...  0.005350  0.357556
exclusive             -0.001944 -0.014880  ...  0.032645 -0.040019
loft                   0.014260 -0.107341  ... -0.040707  0.101836
garden_patio           0.096283  0.070760  ...  0.009531  0.300789
wheelchair_access      0.066940  0.012306  ...  0.048378  0.329733
common_outdoor_space  -0.003403  0.003234  ...  0.105816  0.163558
interest              -0.072246  0.040735  ... -0.065106  0.040837
pets                   0.024916 -0.009478  ...  1.000000  0.326531
features               0.238312  0.116616  ...  0.326531  1.000000

[32 rows x 32 columns]

In [0]:
target = 'price'
features = ['bathrooms', 'bedrooms', 'latitude', 'longitude',
            'interest','features']

train = df[df['created'].dt.month < 6]
test = df[df['created'].dt.month >= 6]
           
y_train = train[target]
y_test = test[target]
X_train = train[features]
X_test = test[features]

In [0]:
model.fit(X_train, y_train)
y_pred = model.predict(X_train)
mse = mean_squared_error(y_train, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_train, y_pred)
r2 = r2_score(y_train, y_pred)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Root Mean Squared Error: 1098.7542182022607
Mean Absolute Error: 700.3894440286409
R^2: 0.6111916712830507

In [0]:
model.fit(X_test, y_test)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Root Mean Squared Error: 1080.756763569673
Mean Absolute Error: 706.3787055636561
R^2: 0.6241868760413505