<a href="https://colab.research.google.com/github/SaraWestWA/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/SW_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [7]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [8]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [9]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [10]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [11]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [12]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [13]:
# look at at data
print(df.shape)
df.head(15)

(421, 59)

        Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
0    California  1/18/2016   3.5     4.2  ...     NaN   NaN       NaN  False
1    California  1/24/2016   3.5     3.3  ...     NaN   NaN       NaN  False
2      Carnitas  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
3         Asada  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
4    California  1/27/2016   4.0     3.8  ...     NaN   NaN       NaN   True
5         Other  1/28/2016   NaN     NaN  ...     NaN   NaN       NaN  False
6    California  1/30/2016   3.0     2.9  ...     NaN   NaN       NaN  False
7      Carnitas  1/30/2016   NaN     NaN  ...     NaN   NaN       NaN  False
8    California   2/1/2016   3.0     3.7  ...     NaN   NaN       NaN  False
9         Asada   2/6/2016   4.0     4.1  ...     NaN   NaN       NaN  False
10  Surf & Turf   2/6/2016   NaN     NaN  ...     NaN   NaN       NaN  False
11        Other  2/11/2016   3.0     4.1  ...     NaN   NaN       NaN  False
12   California  2/11/2016   NaN     NaN  ...     NaN   NaN       NaN  False
13        Other  2/11/2016   NaN     NaN  ...     NaN   NaN       NaN  False
14   California  2/11/2016   NaN     NaN  ...     NaN   NaN       NaN  False

[15 rows x 59 columns]

In [14]:
# see number of great burrios
df['Great'].value_counts()

False    239
True     182
Name: Great, dtype: int64

In [15]:
list(df)

['Burrito',
 'Date',
 'Yelp',
 'Google',
 'Chips',
 'Cost',
 'Hunger',
 'Mass (g)',
 'Density (g/mL)',
 'Length',
 'Circum',
 'Volume',
 'Tortilla',
 'Temp',
 'Meat',
 'Fillings',
 'Meat:filling',
 'Uniformity',
 'Salsa',
 'Synergy',
 'Wrap',
 'Unreliable',
 'NonSD',
 'Beef',
 'Pico',
 'Guac',
 'Cheese',
 'Fries',
 'Sour cream',
 'Pork',
 'Chicken',
 'Shrimp',
 'Fish',
 'Rice',
 'Beans',
 'Lettuce',
 'Tomato',
 'Bell peper',
 'Carrots',
 'Cabbage',
 'Sauce',
 'Salsa.1',
 'Cilantro',
 'Onion',
 'Taquito',
 'Pineapple',
 'Ham',
 'Chile relleno',
 'Nopales',
 'Lobster',
 'Queso',
 'Egg',
 'Mushroom',
 'Bacon',
 'Sushi',
 'Avocado',
 'Corn',
 'Zucchini',
 'Great']

In [16]:
# total of 421, 50% is 210 drop any null above 210
df.isnull().sum()

Burrito             0
Date                0
Yelp              334
Google            334
Chips             395
Cost                7
Hunger              3
Mass (g)          399
Density (g/mL)    399
Length            138
Circum            140
Volume            140
Tortilla            0
Temp               20
Meat               14
Fillings            3
Meat:filling        9
Uniformity          2
Salsa              25
Synergy             2
Wrap                3
Unreliable        388
NonSD             414
Beef              242
Pico              263
Guac              267
Cheese            262
Fries             294
Sour cream        329
Pork              370
Chicken           400
Shrimp            400
Fish              415
Rice              385
Beans             386
Lettuce           410
Tomato            414
Bell peper        414
Carrots           420
Cabbage           413
Sauce             383
Salsa.1           414
Cilantro          406
Onion             404
Taquito           417
Pineapple         414
Ham               419
Chile relleno     417
Nopales           417
Lobster           420
Queso             421
Egg               416
Mushroom          418
Bacon             418
Sushi             419
Avocado           408
Corn              418
Zucchini          420
Great               0
dtype: int64

In [17]:
# choose hyper parameters
features= ['Burrito',
 'Date',
 'Cost',
 'Hunger',
 'Length',
 'Circum',
 'Volume',
 'Tortilla',
 'Temp',
 'Meat',
 'Fillings',
 'Meat:filling',
 'Uniformity',
 'Salsa',
 'Synergy',
 'Wrap',
 'Great']

In [18]:
df=df[features]
df

        Burrito       Date  Cost  Hunger  ...  Salsa  Synergy  Wrap  Great
0    California  1/18/2016  6.49     3.0  ...    4.0      4.0   4.0  False
1    California  1/24/2016  5.45     3.5  ...    3.5      2.5   5.0  False
2      Carnitas  1/24/2016  4.85     1.5  ...    3.0      3.0   5.0  False
3         Asada  1/24/2016  5.25     2.0  ...    4.0      4.0   5.0  False
4    California  1/27/2016  6.59     4.0  ...    2.5      4.5   4.0   True
..          ...        ...   ...     ...  ...    ...      ...   ...    ...
418       Other  8/27/2019  6.00     1.0  ...    2.0      2.0   5.0  False
419       Other  8/27/2019  6.00     4.0  ...    5.0      4.0   3.0   True
420  California  8/27/2019  7.90     3.0  ...    3.5      4.0   4.5  False
421       Other  8/27/2019  7.90     3.0  ...    5.0      5.0   2.0   True
422       Other  8/27/2019  5.50     3.5  ...    3.0      4.5   4.0   True

[421 rows x 17 columns]

In [19]:
df.dtypes

Burrito          object
Date             object
Cost            float64
Hunger          float64
Length          float64
Circum          float64
Volume          float64
Tortilla        float64
Temp            float64
Meat            float64
Fillings        float64
Meat:filling    float64
Uniformity      float64
Salsa           float64
Synergy         float64
Wrap            float64
Great              bool
dtype: object

In [20]:
df['Date'].dtypes

dtype('O')

In [21]:
# transform date into datetime
# df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'], infer_datetime_format = True)
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format = True)
df['Date'].dtypes

dtype('<M8[ns]')

In [22]:
# Test/Train/Validate Split

cutoff = '2017-01-01'
cutoff2 = '2017-12-31'

train = df[df['Date']< cutoff]

validate = df[(df['Date']>= cutoff) & (df['Date']<= cutoff2)]

test = df[df['Date']> cutoff2]

# verify split
print(train.shape)
print(validate.shape)
print(test.shape)

(298, 17)
(85, 17)
(38, 17)

In [23]:
train['Cost'].mean()

6.8967808219178135

In [24]:
train['Cost'].isnull().sum()

6

In [25]:
train['Cost'].fillna(6.90)

train['Cost'].isnull().sum()

6

In [28]:
values = {'Cost' : train['Cost'].mean() }
train = train.fillna(value=values)

In [29]:
train['Cost'].isnull().sum()

0