<a href="https://colab.research.google.com/github/phuonggtrann/DS-Unit-2-Linear-Models/blob/master/module1-regression-1/LS_DS_211_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 1*

---

# Regression 1

## Assignment

You'll use another **New York City** real estate dataset. 

But now you'll **predict how much it costs to rent an apartment**, instead of how much it costs to buy a condo.

The data comes from renthop.com, an apartment listing website.

- [ ] Look at the data. Choose a feature, and plot its relationship with the target.
- [ ] Use scikit-learn for linear regression with one feature. You can follow the [5-step process from Jake VanderPlas](https://jakevdp.github.io/PythonDataScienceHandbook/05.02-introducing-scikit-learn.html#Basics-of-the-API).
- [ ] Define a function to make new predictions and explain the model coefficient.
- [ ] Organize and comment your code.

> [Do Not Copy-Paste.](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit) You must type each of these exercises in, manually. If you copy and paste, you might as well not even do them. The point of these exercises is to train your hands, your brain, and your mind in how to read, write, and see code. If you copy-paste, you are cheating yourself out of the effectiveness of the lessons.

If your **Plotly** visualizations aren't working:
- You must have JavaScript enabled in your browser
- You probably want to use Chrome or Firefox
- You may need to turn off ad blockers
- [If you're using Jupyter Lab locally, you need to install some "extensions"](https://plot.ly/python/getting-started/#jupyterlab-support-python-35)

## Stretch Goals
- [ ] Do linear regression with two or more features.
- [ ] Read [The Discovery of Statistical Regression](https://priceonomics.com/the-discovery-of-statistical-regression/)
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapter 2.1: What Is Statistical Learning?

In [0]:
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
# Read New York City apartment rental listing data
import pandas as pd
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

In [0]:
# Remove outliers: 
# the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= 1375) & (df['price'] <= 15500) & 
        (df['latitude'] >=40.57) & (df['latitude'] < 40.99) &
        (df['longitude'] >= -74.1) & (df['longitude'] <= -73.38)]

In [61]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [79]:
## This is bare bone for 1 feature

# 1 import
from sklearn.linear_model import LinearRegression

# 2 Instantiate
model = LinearRegression()

# 3 Arrange x,y
df['bathrooms'], df['price']

# Decide to choose every features so I don't have to test each one (:
# And for stretch 
features = df.columns[df.dtypes!='object']
features = features.drop(target)
target = 'price'

x_train = df[features]
y_train = df[target]

# 4 fit the model
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [81]:
## This is for all the features 
def predict(feature):
  model = LinearRegression()
  model.fit(df[feature], df[target])
  y_pred = model.predict(df[feature])
  estimate = y_pred[0]
  coefficient = model.coef_[0]
  return coefficient

for f in features:
  coef = predict([f])
  print(f'- {target} changes by {coef} as {f} increases.\n')

- price changes by 2573.3743950844187 as bathrooms increases.

- price changes by 853.2541675274308 as bedrooms increases.

- price changes by -1638.1419024698357 as latitude increases.

- price changes by -15315.115869638641 as longitude increases.

- price changes by 731.1727012447627 as elevator increases.

- price changes by 181.57690054355194 as cats_allowed increases.

- price changes by 358.1576594795972 as hardwood_floors increases.

- price changes by 214.12026672756465 as dogs_allowed increases.

- price changes by 984.8244108624798 as doorman increases.

- price changes by 800.8688538020601 as dishwasher increases.

- price changes by 483.5511389794647 as no_fee increases.

- price changes by -153.0410672680397 as laundry_in_building increases.

- price changes by 909.8606767742145 as fitness_center increases.

- price changes by -131.96961298579427 as pre-war increases.

- price changes by 1255.37386991892 as laundry_in_unit increases.

- price changes by 638.519358391544 as roof_deck increases.

- price changes by 725.5110423351198 as outdoor_space increases.

- price changes by 1409.483037847241 as dining_room increases.

- price changes by 563.9150825796559 as high_speed_internet increases.

- price changes by 1028.8235496781783 as balcony increases.

- price changes by 1038.057067282824 as swimming_pool increases.

- price changes by 567.5025783643717 as new_construction increases.

- price changes by 1225.6586053094607 as terrace increases.

- price changes by -114.7124671596686 as exclusive increases.

- price changes by 61.90853010014893 as loft increases.

- price changes by 940.0044770699176 as garden_patio increases.

- price changes by 785.3719374021288 as wheelchair_access increases.

- price changes by 127.00348063648099 as common_outdoor_space increases.